<template>
<div>
<div class="container mt-5">
    <AAAddtodos />
    <h3>Todos</h3>
    <div class="todos">
        <div v-for="todo in allTodos" :key="todo.id" class="todo">
            {{ todo.title }}
        </div>
    </div>
</div>
</div>
</template>

<script>
import AAAddtodos from './AAAddtodos'
import { mapGetters, mapActions } from "vuex"
  export default {
      name: "AAAAATodos",
            components:{
    AAAddtodos
  },
      methods: {
          ...mapActions(["fetchTodos"])
      },
    computed: mapGetters(["allTodos"]),
    created() {
        this.fetchTodos();
    }
  };
</script>

<style scoped>
.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    background: #e8f7f0;
}
.todos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:1rem;
}
.todo {
    border: 1px solid #ccc;
    background: #41b883;
    padding: 1rem;
    text-align: center;
    position: relative;
    cursor: pointer;
}
</style>