<template>
<div class="content mt-5 pt-5 mb-4">
<h1>{{ title }}</h1>
gfhgjjgkhkjjghgjgj
ghfghjfgkjkkjljkljkljkjlj
</div>
</template>

<script>
  export default {
  data:{
      title:'Welcome Donat murego!'
  }
  }
</script>

<style scoped>


</style>