<template>
<div>
<div class="container justify">
    <h3 class="text-justify">Add Todos</h3>
    <div class="add">
    <form @submit="onSubmit">
        <input type="text" v-model="title" placeholder="Add Todo...">
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex"
  export default {
      name: "AAAddtodos",

      data() {
          return {
              title: ""
          }
      },
      methods: {
          ...mapActions(["addTodo"]),
          onSubmit(e) {
              e.preventDefault();
              this.addTodo(this.title);
          }
      },
    // computed: mapGetters(["allTodos"]),
    // created() {
    //     this.fetchTodos();
    // }
  };
</script>

<style scoped>
form {
    display: flex;
}

input[type="text"]{
    flex: 10;
    padding: 10px;
    border: 1px solid #41b883;
    outline: 0;
}
input[type="submit"]{
    flex: 2;
    background: #41b883;
   color: #ccc;
   cursor: pointer;
   border: 1px solid #41b883;
}
</style>