<template>
<div class="content">
<Hotelownersiderbal />

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 mt-5 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-12 mt-4 mb-4 mb-xl-0">
         <div class="card mb-3 mb-4">
            <div class="card-header bg-light">
<h1>Add hotel</h1>
                 </div>
            <div class="card-block p-0">
        <div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="first_name" placeholder="Hotel Name" required="required"></div>
				<div class="col-xs-6 col-md-6"><input type="number" class="form-control" name="last_name" placeholder="Address" required="required"></div>
				<div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="email" placeholder="Email" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="username" placeholder="Phone" required="required"></div>
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="Website" placeholder="Website" required="required"></div>
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="Zip_code" placeholder="Zip_code" required="required"></div>
				<div class="col-xs-6 col-md-12"><input type="file" class="form-control" name="number" placeholder="Your logo" required="required"></div>
				<div class="col-xs-6 col-md-12"><button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button></div>														            
			</div>        	
        </div>
        <div class="form-group">
            <div class="row">

            </div>      	
        </div>
        <div class="form-group">

        </div>
		<div class="form-group">

        </div>
		<div class="form-group">

        </div>        
		<div class="form-group">

        </div>
    </form>
</div>		

            </div>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</template>

<script>
import Hotelownersiderbal from './Hotelownersiderbal'
// import Footer from './Footer'
export default {
      components:{
    Hotelownersiderbal
    // Footer
  }, 
}
</script>

<style scoped>
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
/* form */
/* form */
.logo{
      color: #ff6000!important;
}
      .btn-success{
		  color: #ff6000!important;
         background: #3b3b3b!important;
         border:none;
      }
	        .btn-success:hover{
		  color: white!important;
         font-weight: bold;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 55%;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
		.signup-form input{
		border-radius: 0px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	/* .signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}    	 */
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */

/* end form */
</style>