<template>
<div class="content mb-4">

<Siderbal />
<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<!-- CARD SECTION -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 mt-4 col-md-8 ml-auto">
                <div class="row pt-md- mt-md-4 mb-2">
                    <div class="col-xl-4 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-shopping-cart fa-3x text-info"></i>
                                    <div class="text-right text-dark">
                                        <h5 class="font-weight-bold">Sales</h5>
                                        <h3>$10.000 Rwf</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-info mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5 class="font-weight-bold">expense</h5>
                                        <h3>$10.000 Rwf</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                                        <div class="col-xl-4 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5 class="font-weight-bold">Users</h5>
                                        <h3>$10.000 Rwf</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF CARD SECTION -->

<!-- TABLES -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 mb-4 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-5 mb-4">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Patner deatails</h3></div>
            <div class="card-block p-0">
		
        <table class="table-vertical">
        	<thead>
        	<tr>
        		<th>Fname</th>
        		<th>Lname</th>
        		<th>Phone</th>
        		<th>Email</th>
        		<th>Date</th>
        		<th>Action</th>        
        	</tr>
        	</thead>
        	<tbody>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	</tbody>
        </table>
            </div>
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link bg-dark">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>
  
</div>
</template>

<script>
import { Bar } from "vue-chartjs";
import Siderbal from './Siderbal'
  export default {
        components:{
    Siderbal
    // Footer
  },
  
  }
</script>

<style scoped>

/* .bg-light{
  background-color: #ff6000!important;
} */
.btn-danger{
   background-color: #ff6000!important;   
}

/* table */
/* 
Generic Styling, for Desktops/Laptops 
*/
.table-vertical { 
  width: 100%; 
  height:auto;
  border-collapse: collapse; 
}
/* Zebra striping */
.table-vertical>tbody>tr:nth-of-type(odd) { 
  background: #f9f9f9;
}
.table-vertical>thead>tr>th { 
  background: #fff; 
  color: #000; 
  font-weight: bold; 
}
.table-vertical>tbody>tr>td, .table-vertical>thead>tr>th { 
  padding: 6px; 
  border-top: 1px solid #ddd; 
  text-align: left; 
  vertical-align: middle;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-vertical thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-vertical>thead>tr,  .table-vertical>tbody>tr{ border: 1px solid #ccc; }
	
	 
	.table-vertical>thead>tr>td,  .table-vertical>tbody>tr>td{ 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table-vertical>tbody>tr>td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.table-vertical>tbody>tr>td:before { content: attr(data-th); }
}

/* table */

.list-unstyled{
    text-decoration: none!important;
    color: white!important;
}
.logo{
      color: #ff6000!important;
      font-weight: bolder;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}

/* card section */
.card-common{
    font-size: 12px;
    /* box-shadow: 1px 2px 5px gray; */
    transition: all .4s;
}
.card-common h3, .card-common h5 {
    font-size: 14px;
}
.card-common h5 {
    font-size: 20px;
}
.card-common:hover{
    /* box-shadow: 2px 3px 15px gray; */
    transition: translatey(-1);
}
/* end of card */

.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.table-color{
    background:#dcedc8;
}
</style>