<template>
<div class="content">
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<!-- CARD SECTION -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md- mt-md-3 mb-5">
                    <div class="col-xl-4 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-shopping-cart fa-3x text-info"></i>
                                    <div class="text-right text-dark">
                                        <h5>Sales</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-info mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>expense</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                                        <div class="col-xl-4 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Users</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                        <!-- <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Vistors</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                            </div>   
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF CARD SECTION -->

<!-- TABLES -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            staff salary
                        </h3>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Date</th>
                                    <th>Contacy</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <!-- pagination -->
                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>


                         <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            Recent payments
                        </h3>
                        <table class="table table-color table-hover">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Payment</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><span class="badge badge-success w-75 py-2">Approved</span></td>
                             </tr> 
                                <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
<td><span class="badge badge-success w-75 py-2">pending</span></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <!-- pagination -->
                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Previous</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF TABLES -->

</div>
</template>

<script>
// import Blmanagerside from './Blmanagerside'
// import Footer from './Footer'
export default {
      components:{
    // Blmanagerside
    // Footer
  }, 
}

</script>

<style scoped>
.dropdown-toggle::after{
    position: absolute;
    margin-top: 6%;
    right: 20px;
}
/* form */
      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 80%;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	.signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}    	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */
.logo{
      color: #ff6000!important;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}


/* card section */
.card-common{
    /* box-shadow: 1px 2px 5px gray; */
    transition: all .4s;
}
.card-common:hover{
    /* box-shadow: 2px 3px 15px gray; */
    transition: translatey(-1);
}
/* end of card */

.page-item{
    color:#7cb342;
}
.page-link{
    color: #7cb342
}
.page-item.active.page-link{
    background-color: #7cb342;
    border-color: #7cb342;
    box-shadow: none;
}
.table-color{
    background:#dcedc8;
}
</style>