<template>
<div class="content">
<Gmsiderbal />

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 mt-5 col-lg-9 col-md-8 ml-auto">
                <div class="row mt-3 align-items-center">
                    <div class="col-xl-12 col-12 mb-4 mb-xl-0">

         <div class="card mb-5">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Make new reservation</h3></div>
            <div class="card-block p-0">
<div class="signup-form pt-0">
    <form action="/examples/actions/confirmation.php" method="post">
    <div class="container px-4">    
        <div class="row form-group">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Reservation Entry</legend>
                <div class="container">
			<div class="row">
			<div class="col-xs-6 col-md-4"><select type="text" class="custom-select">
		    <option selected="">Room Type</option>
		    <option value="1">Single room</option>
		    <option value="2">Single room</option>
		    <option value="3">Single room</option>
		</select></div>
				<div class="col-xs-6 col-md-4"><input type="text" class="form-control" v-model="date_in" name="last_name" placeholder="Check In" required="required"></div>
                <div class="col-xs-6 col-md-4"><input type="text" class="form-control" v-model="purpose" name="first_name" placeholder="Purpose" required="required"></div>
				<div class="col-xs-6 col-md-4"><input type="text" class="form-control" v-model="room_id" name="room_id" placeholder="Room number" required="required"></div>
                <div class="col-xs-6 col-md-4"><input type="text" class="form-control" v-model="date_out" name="first_name" placeholder="Check Out" required="required"></div>
				<div class="col-xs-6 col-md-4"><input type="text" class="form-control" v-model="profession" name="last_name" placeholder="Profession" required="required"></div>               
			</div>
                </div>
                    </fieldset>        	
        </div>
        <div class="row form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6">  
            <div class="form-group">
                <fieldset class="scheduler-border">
                <legend class="scheduler-border">Guest info</legend>
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="f_name" name="lname" placeholder="First Name" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="l_name" name="lname" placeholder="Last Name" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="email" class="form-control" v-model="email" name="lname" placeholder="Email" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Adress ntirimo to" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="phone" name="lname" placeholder="Phone" required="required"></div>  
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="birth_date" name="lname" placeholder="Birthday" required="required"></div>                                                                                                                     
                </div>
                </fieldset>
            </div>                     
            </div>
            <div class="col-xs-6 col-md-6">  
            <div class="form-group">
                                <fieldset class="scheduler-border">
                <legend class="scheduler-border">Payment</legend>
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="adult_num" name="lname" placeholder="Adult" required="required"></div> 
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="child_num" name="lname" placeholder="Child" required="required"></div> 
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="rate_per_night" name="rate_per_night" placeholder="Rate per night" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Other Charges" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="payment_type" name="lname" placeholder="payment type" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="total_payment" name="lname" placeholder="Total charges" required="required"></div>
                    <!-- <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Total payment" required="required"></div>  
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Total deposite" required="required"></div>    -->
                </div>
                </fieldset>
            </div>                     
            </div>
            </div>
                <!-- <div class="container">                -->
                <fieldset class="scheduler-border">
                <legend class="scheduler-border">ID information</legend>
                <div class="row">
                <div class="col-xs-6 col-md-6"> 
                      <div class="form-group">
                 <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="id_type" name="id_type" placeholder="ID type" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="identity" name="identity" placeholder="ID number" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="email" class="form-control" v-model="id_valid" name="lname" placeholder="ID valid" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="id_country" name="id_country" placeholder="ID country" required="required"></div>
                    <div class="col-xs-6 col-md-12"><input type="text" class="form-control" name="lname" placeholder="Remark" required="required"></div>                                                                                                                   
                </div>
            </div>                     
            </div>
            <div class="col-xs-6 col-md-6">  
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="License Plate" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Vehicle Make" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="lname" placeholder="Vehicle" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="State" required="required"></div>
                    <div class="col-xs-6 col-md-12"><input type="text" class="form-control" name="lname" placeholder="Special Request" required="required"></div>  
                </div>
            </div>                     
            </div>
            </div>
            </fieldset>
            <!-- </div> -->
        </div> 
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
        </div>
    </form>
</div>		

            </div>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</template>

<script>
import Gmsiderbal from './Gmsiderbal'
// import Footer from './Footer'
export default {
      components:{
    Gmsiderbal
    // Footer
  },
    		data(){
			return {
				f_name : "",
                l_name : "",
                id_valid:"",
                num_night:"",
                email : "",
                phone : "",
                birth_date:"",
                id_country:"",
                hotel_id:"",
                id_type:"",
                identity : "",
                payment_type:"",
                rate_per_night:"",
                total_payment:"",
                rwf_paid:"",
                adult_num:"",
                child_num:"",
                date_in:"",
                date_out:"",
                purpose:"",
                profession:"",
                room_id:"",
                amount_discount:"",
                amount_credit:"",
            }
		},
}
</script>

<style scoped>
      .btn-success{
           color: #ff6000!important;
         background: #3b3b3b!important;
         border:none;
      }
            .btn-success:hover{
 color: white!important;
 font-weight: bolder;
      }
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 0em 1.4em !important;
    margin: 0 0 0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
/* form */
/* form */
.logo{
      color: #ff6000!important;
}
      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 85%;
		margin: 0 auto;
		padding: 0px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 10px;
		position: relative;
		text-align: center;
    }
	    .custom-select{
        height: 40px;
		box-shadow: none;
		color: #969fa4;
        cursor: pointer;
    }
        .custom-select:focus{
         border-color: #ff6000!important;;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 10px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
    	.signup-form input{
		border-radius: 0px;
	}
        	.signup-form select{
		border-radius: 0px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }  	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */

/* end form */
</style>