<template>
<div>
    <Heading></Heading>
<div class="container-fluid content">
    <div class="row">    
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
             <h2><span class="logo">Sliver</span>back</h2>
            </div>
            <div class="col-md-8">
             <h1 class="text-uppercase heading">b.maurice guest house</h1> 
             <p class="font-weigth">KN 16 Ave 35, Kiyovu-Kigali/Rwanda/Phone +250784171847/+250784171848</p>
             <p class="text-center email">E-mail: <span class="text-info">info@bmauriceguesthouse.com</span> Website: <span class="text-info">www.bmauriceguesthouse.com</span></p>           
            </div>
        </div>
    </div>
		<h1 class="text-center register font-weight-bold">REGISTRATION FORM </h1>
		<hr>            
        <div class="form-group">
            <fieldset class="scheduler-border">
			<div class="row p-0">
				<div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Folio:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" >&nbsp;Check In:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Room Type:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph">&nbsp;Check Out:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Room Number:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph">&nbsp;Purpose: </p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph text-white" id="white">&nbsp;Folio:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"> <p class="row paragraph" id="white1">&nbsp;Profession: </p></div>
			</div>
                    </fieldset>        	
        </div>
        <div class="yyform-group">
            <div class="row">
                <div class="col-xs-6 col-md-6 guest">  
            <div class="form-group">
                <fieldset class="scheduler-border">
                <div class="row p-0">
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;First Name :&nbsp;<span class="border-bottom"></span></p></div>
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Last Name :&nbsp;<span class="border-bottom"></span></p></div> 
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Address :&nbsp;<span class="border-bottom"></span> </p></div>
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Email ID :&nbsp;<span class="border-bottom"></span></p></div>
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Phone No :&nbsp;<span class="border-bottom"></span></p></div> 
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Birthday :&nbsp;<span class="border-bottom"></span></p></div>                                                                                                                 
                </div>
                </fieldset>
            </div>                     
            </div>
            <div class="col-xs-6 col-md-6">  
            <div class="form-group">
            <fieldset class="scheduler-border">
                <div class="row">
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Number of guest  :&nbsp;<span class="border-bottom">Adult&nbsp;</span><span class="text-white">hhghg</span><span class="border-bottom pull-right">Child&nbsp;</span></p></div>
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Rate per night :&nbsp;<span class="border-bottom"></span></p></div> 
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Other Charges :&nbsp;<span class="border-bottom"></span> </p></div>
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Total Charges :&nbsp;<span class="border-bottom"></span></p></div>
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Payment Type :&nbsp;<span class="border-bottom"></span></p></div> 
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Total Payments :&nbsp;<span class="border-bottom"></span></p></div>
                    <div class="col-xs-6 col-md-12 py-0"><p class="row information">&nbsp;Total Deposit :&nbsp;<span class="border-bottom"></span></p></div>    
                </div>
                </fieldset>
            </div>                     
            </div>
            </div>         
                <fieldset class="scheduler-border">
                <legend class="scheduler-border">ID information</legend>
			<div class="row p-0">
				<div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Folio:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" >&nbsp;Check In:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Room Type:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph">&nbsp;Check Out:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Room Number:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph">&nbsp;Purpose: </p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph text-white" id="white">&nbsp;Folio:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"> <p class="row paragraph" id="white1">&nbsp;Profession: </p></div>
			</div>
            </fieldset>
            <p class="text-center text-black text-justify-content">Thank you for your stay with us. Please visit us again.</p>
            <ul>
                <li>Our check out time is 10h: 00 Am; please inform the reception if you wish to retain your room beyond time. Extension will be given depending on the availability, if the room is available, the late checkout will be charged half of the room rate. And if you have valuable stuff leave them at the Front desk so that we keep it/them for you in the safe box. </li>
                <li>Breakfast is from 7AM to 10AM.</li>
                <li>Dear valued guests, quietness is very important during your stay. Maximum silence is crucial in our Guest House to avoid guests’ disturbance.</li>
            </ul>
            <div class="container">
                <div class="row">
                <div class="col-md-6">
                     <p class="font-weight-bold"> Guest Signature </p>
                </div>
                <div class="col-md-6">
                    <p class="font-weight-bold">Desk Clerk Signature</p>
                </div>
                </div>
            </div>
        </div> 
    </form>
</div>
    </div>
</div>
    <Footer />
</div>
</template>

<script>
import Heading from './Heading'
import Footer from './Footer'
  export default {
    components:{
    Heading,
    Footer
  },
  }
</script>

<style scoped>
.logo{
      color: #ff6000!important;
}
.heading{
    font-size: 30px;
}
.email{
    font-size: 13px;
}
.font-weigth{
    font-size: 14px;
}
.register{
    font-size: 25px; 
    color: black!important;  
}
.col-md-6{
    /* padding: 0px; */
}
    .signup-form .paragraph{        
   padding: 0px;
   margin:0px;
   height: 25px!important;
   border-bottom: 1px dotted black;
   border-left: 1px dotted black;
   color: black!important;
    }
#white{
 color: white!important;
 border-bottom: none!important;
 border-left: none!important;
}
#white1{
 border-bottom: none!important;
}
#rooms{
   border-left: none!important; 
}
.information{
  padding: 0px;
   margin:0px;
   border-bottom:1px dotted black;
   color: black;
   font-weight: bolder;
}





      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
fieldset.scheduler-border {
    border: 1px dotted black !important;
    /* padding: 0 1.4em 1.4em 1.4em !important; */
    /* margin: 0 0 1.5em 0 !important; */
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            border-radius: 6px;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
.content{
  background-color: #f5fafc!important;
  /* margin-bottom: -14px; */
}
/* form */
	body{
		color: #fff;
		background: #63738a;
		font-family: 'Roboto', sans-serif;
	}
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}

	.signup-form{
		width: 60%;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }	
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		/* margin-bottom: 20px; */
	}	
/* end form */
</style>