<template>
<div>
    <Heading></Heading>
<div class="container-fluid content">
    <div class="row">    
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
             <h2><span class="logo">Sliver</span>back</h2>
            </div>
            <div class="col-md-8">
             <h1 class="text-uppercase heading">b.maurice guest house</h1> 
             <p class="font-weigth">KN 16 Ave 35, Kiyovu-Kigali/Rwanda/Phone +250784171847/+250784171848</p>
             <p class="text-center email">E-mail: <span class="text-info">info@bmauriceguesthouse.com</span> Website: <span class="text-info">www.bmauriceguesthouse.com</span></p>           
            </div>
        </div>
    </div>
		<h1 class="text-center register font-weight-bold p-2">PROFORMA INVOICE#241/20</h1>            
        <div class="form-group">
            <fieldset class="scheduler-border">
			<div class="row p-0">
				<div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Names (Guest):NZEYIMANA REMEGIE:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" >&nbsp;Check In: 20 June 2020</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph" id="rooms">&nbsp;Room Type: 2 Deluxe Rooms & 11 Twin Bed Rooms:</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph">&nbsp;Date Out: 17 July 2020</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph  text-white dodos" id="rooms">&nbsp;</p></div>
                <div class="col-xs-6 col-md-6 py-0 booki"><p class="row paragraph">&nbsp;No of Night (s): 27: </p></div>
			</div>
                    </fieldset>        	
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-12 guest">  
            <div class="form-group">
                <fieldset class="scheduler-border1 niceone">
                <div class="row">
                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information1">&nbsp;Room Type&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout"><p class="row information1">&nbsp;Number's Rooms &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-3 py-0 checkout"><p class="row information1">&nbsp;Number of Nights &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information1">&nbsp;Rate/Night &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information1">&nbsp;Total &nbsp;<span class="border-bottom1"></span></p></div>

                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information11">&nbsp;Twin Bed Room &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout"><p class="row information11">&nbsp;11 &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-3 py-0 checkout"><p class="row information11">&nbsp;27 &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information11">&nbsp;$35.00 &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information11">&nbsp;$35.00 &nbsp;<span class="border-bottom1"></span></p></div> 

                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information11">&nbsp;Standard Room&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout"><p class="row information11">&nbsp;11 &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-3 py-0 checkout"><p class="row information11">&nbsp;27 &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information11">&nbsp;$35.00 &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout"><p class="row information11">&nbsp;$35.00 &nbsp;<span class="border-bottom1"></span></p></div> 


                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11">&nbsp;Total Charges: &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;$11,340.00 &nbsp;<span class="border-bottom1"></span></p></div> 

                                        <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11">&nbsp;Total Deposit: &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;USD 0.00 &nbsp;<span class="border-bottom1"></span></p></div> 

                                        <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11">&nbsp;Total Charges: &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;$11,340.00 &nbsp;<span class="border-bottom1"></span></p></div> 

                                        <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11">&nbsp;(Authorized Payments): &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;USD 0.00 &nbsp;<span class="border-bottom1"></span></p></div> 

                                        <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11">&nbsp;(Payments): &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;USD 0.00 &nbsp;<span class="border-bottom1"></span></p></div> 

                                                            <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;&nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11"> &nbsp;<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-3 py-0 checkout1"><p class="information11">&nbsp;Balance: &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-2 py-0 checkout1"><p class="information11">&nbsp;$11,340.00 &nbsp;<span class="border-bottom1"></span></p></div> 


                    <div class="col-xs-6 col-md-12 py-0 checkout1"><p class="row information11">&nbsp;Description: <span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-12 py-0 checkout1"><p class="row information11"> &nbsp;This Proforma invoice room rated USD 17.5 per person per night including;<span class="border-bottom1"></span></p></div> 
                    <div class="col-xs-6 col-md-12 py-0 checkout1"><p class="row information11"> &nbsp;1.Airport Pick-up and Drop-Off<span class="border-bottom1"></span> </p></div>
                    <div class="col-xs-6 col-md-12 py-0 checkout1"><p class="row information11">&nbsp;2.Breakfast &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-12 py-0 checkout1"><p class="row information11">&nbsp;3.Wi-Fi &nbsp;<span class="border-bottom1"></span></p></div> 
                                        <div class="col-xs-6 col-md-12 py-0 checkout1"><p class=" row information11">&nbsp;4.Laundry service  &nbsp;<span class="border-bottom1"></span></p></div>
                    <div class="col-xs-6 col-md-12 py-0 checkout1"><p class="row information11">&nbsp;5.Kitchen &nbsp;<span class="border-bottom1"></span></p></div>                     
                </div>
                </fieldset>
            </div>                     
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Thank you for giving us the opportunity to serve you. We appreciate your stay with us and the confidence you have 
                            placed in us. Please, contact us again if we can be of further assistance.</p>
                    </div>
                </div>
            </div>
                    <div class="container">
                <div class="row">
                    <div class="col-md-7 p-4">
                        <p class=".md-offset-2 text-center row font-weight-bold">B.Maurice Guest House</p>
                        <p class=".md-offset-2 row font-weight-bold">Management Team,</p>
                    </div>
                </div>
            </div>
            </div>         
        </div> 
    </form>
</div>
    </div>
</div>
    <Footer />
</div>
</template>

<script>
import Heading from './Heading'
import Footer from './Footer'
  export default {
    components:{
    Heading,
    Footer
  },
  }
</script>

<style scoped>
.logo{
      color: #ff6000!important;
}
.heading{
    font-size: 30px;
}
.email{
    font-size: 13px;
}
.font-weigth{
    font-size: 14px;
}
.register{
    font-size: 25px; 
    color: black!important;  
}
.col-md-6{
    /* padding: 0px; */
}
    .signup-form .paragraph{        
   padding: 0px;
   margin:0px;
   height: 25px!important;
   border-bottom: 1px dotted black;
   border-left: 1px dotted black;
   color: black!important;
    }
#white{
 color: white!important;
 border-bottom: none!important;
 border-left: none!important;
}
#white1{
 border-bottom: none!important;
}
#rooms{
   border-left: none!important; 
   color: white;
}
.information{
  padding: 0px;
   margin:0px;
   border-bottom:1px dotted black;
   color: black;
   font-weight: bolder;
}
p.dodos{
    background: white;
   color: white!important; 
}
.information1{
    color: #000!important;
    font-weight: bolder;
}





      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
fieldset.scheduler-border {
    border: 1px dotted black !important;
    /* padding: 0 1.4em 1.4em 1.4em !important; */
    /* margin: 0 0 1.5em 0 !important; */
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            border-radius: 6px;
}
.niceone{
     border: 1px groove black !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            border-radius: 0px!important;   
}
.checkout{
    border-left: 1px groove black;
    border-bottom: 1px groove black;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
.content{
  background-color: #f5fafc!important;
  /* margin-bottom: -14px; */
}
/* form */
	body{
		color: #fff;
		background: #63738a;
		font-family: 'Roboto', sans-serif;
	}
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}

	.signup-form{
		width: 66%;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }	
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		/* margin-bottom: 20px; */
	}	
/* end form */
</style>