<template>
<div>
    <Heading></Heading>
<div class="container-fluid content">
    <div class="row">
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
    <div class="container px-4">
		<h2>Register</h2>
		<p class="hint-text">Create your account. It's free and only takes a minute.</p>
        
            
        <div class="row form-group">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Booking Entry</legend>
                <div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-4"><select type="text" class="custom-select">
		    <option selected="">Room Type</option>
		    <option value="1">Single room</option>
		    <option value="2">Single room</option>
		    <option value="3">Single room</option>
		</select></div>
				<div class="col-xs-6 col-md-4"><input type="text" class="form-control" name="last_name" placeholder="Check In" required="required"></div>
                <div class="col-xs-6 col-md-4"><input type="text" class="form-control" name="first_name" placeholder="Purpose" required="required"></div>
				<div class="col-xs-6 col-md-4"><input type="text" class="form-control" name="last_name" placeholder="Room number" required="required"></div>
                <div class="col-xs-6 col-md-4"><input type="text" class="form-control" name="first_name" placeholder="Check Out" required="required"></div>
				<div class="col-xs-6 col-md-4"><input type="text" class="form-control" name="last_name" placeholder="Profession" required="required"></div>               
			</div>
                </div>
                    </fieldset>        	
        </div>
        <div class="row form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6">  
            <div class="form-group">
                <fieldset class="scheduler-border">
                <legend class="scheduler-border">Guest info</legend>
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="First Name" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Last Name" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="lname" placeholder="Email" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Adress" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Phoe" required="required"></div>  
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Birthday" required="required"></div>                                                                                                                     
                </div>
                </fieldset>
            </div>                     
            </div>
            <div class="col-xs-6 col-md-6">  
            <div class="form-group">
                                <fieldset class="scheduler-border">
                <legend class="scheduler-border">Payment</legend>
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Adult" required="required"></div> 
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Child" required="required"></div> 
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Rate per night" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Other Charges" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="lname" placeholder="payment type" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Total charges" required="required"></div>
                    <!-- <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Total payment" required="required"></div>  
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Total deposite" required="required"></div>    -->
                </div>
                </fieldset>
            </div>                     
            </div>
            </div>
                <!-- <div class="container">                -->
                <fieldset class="scheduler-border">
                <legend class="scheduler-border">ID information</legend>
                <div class="row">
                <div class="col-xs-6 col-md-6"> 
                      <div class="form-group">
                 <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="ID type" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="ID no" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="lname" placeholder="ID valid" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="ID country" required="required"></div>
                    <div class="col-xs-6 col-md-12"><input type="text" class="form-control" name="lname" placeholder="Remark" required="required"></div>                                                                                                                   
                </div>
            </div>                     
            </div>
            <div class="col-xs-6 col-md-6">  
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="License Plate" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="Vehicle Make" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="lname" placeholder="Vehicle" required="required"></div>
                    <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="lname" placeholder="State" required="required"></div>
                    <div class="col-xs-6 col-md-12"><input type="text" class="form-control" name="lname" placeholder="Special Request" required="required"></div>  
                </div>
            </div>                     
            </div>
            </div>
            </fieldset>
            <!-- </div> -->
        </div> 
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
        </div>
    </form>
</div>
    </div>
</div>
    <Footer />
</div>
</template>

<script>
import Heading from './Heading'
import Footer from './Footer'
  export default {
    components:{
    Heading,
    Footer
  },
  }
</script>

<style scoped>
      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
.content{
  background-color: #f5fafc!important;
  /* margin-bottom: -14px; */
}
/* form */
	body{
		color: #fff;
		background: #63738a;
		font-family: 'Roboto', sans-serif;
	}
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .custom-select{
        height: 40px;
		box-shadow: none;
		color: #969fa4;
        cursor: pointer;
    }
        .custom-select:focus{
         border-color: #ff6000!important;;
    }
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 60%;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color: #5cb85c;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */
</style>