<template>
<div class="content">
<FBmanagersidebal />

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 mt-5 col-lg-9 col-md-8 ml-auto">
                <div class="row mt-3 align-items-center">
                    <div class="col-xl-12 col-12 mb-4 mb-xl-0">

         <div class="card mb-5">
            <div class="card-header bg-light"> 
                <h3 class="text-dark text-center mb-3">Create menu</h3>
                </div>
            <div class="card-block">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!--/col-->
                <div class="col-md-6 offset-md-3">
                    <span class="anchor" id="formContact"></span>

                    <!-- form user info -->
                    <!-- <div class="card card-outline-secondary"> -->
                        <!-- <div class="card-header">
                            <h3 class="mb-0">Create Menu</h3>
                        </div> -->
                        <div class="card-body">
                            <form class="form" role="form"  @submit.prevent="onSubmit">
                                <!-- <fieldset> -->
                                    <div class="row mb-1">
                                        <div class="col-lg-12">
                                            <input type="text" name="name2" id="name2" class="form-control" v-model="meal_name" placeholder="Menu type" required="">
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-lg-12">
                                            <input type="text" name="email2" id="email2" placeholder="Categories" v-model="categories" class="form-control" required="">
                                        </div>
                                    </div>
                                        <div class="row mb-1">
                                        <div class="col-lg-12">
                                            <input type="text" name="email2" id="email2" placeholder="Price" v-model="unit_price" class="form-control" required="">
                                        </div>
                                    </div>
                                    <!-- <div class="row mb-1">
                                        <div class="col-lg-12">
                                            <textarea rows="4" type="number" name="message2" id="message2" v-model="unit_price" placeholder="description" class="form-control border-radius-0" required=""></textarea>
                                        </div>
                                    </div> -->
                                        <p class="text-success">{{ changepassword }}</p>
                                    <button type="submit" class="btn  border-0 btn-block btn-success btn-lg">Create</button>
                                <!-- </fieldset> -->
                            </form>
                        </div>
                    <!-- </div> -->
                    <!-- /form user info -->

                </div>
                <!--/col-->

            </div>
            <!--/row-->

        <br><br><br><br>

        </div>
        <!--/col-->
    </div>
    <!--/row-->

    
</div>
<!--/container-->
		
<!-- <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button> -->
            </div>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</template>

<script>
import FBmanagersidebal from './FBmanagersidebal'
// import Footer from './Footer'
export default {
      components:{
    FBmanagersidebal
    // Footer
  }, 
      computed: {
    changepassword() {
      return this.$store.getters.changepassword
    }
  },
    		data(){
			return {
                meal_name : "",
                categories : "",
				unit_price : "",
            }
		},
		methods: {
		 	onSubmit: function () {
		   		let meal_name = this.meal_name 
                let categories = this.categories
                let unit_price = this.unit_price 
		   		this.$store.dispatch('fbmanagercreatemenu', { meal_name, categories, unit_price})
           .then(response=>{
            //  this.$router.push('/Admin')
           })
            
		   		.catch(err => console.log(err))
		   	}
		}
}
</script>

<style scoped>
      .btn-success{
           color: #ff6000!important;
         background: #3b3b3b!important;
         border:none;
         border-radius: 15px;
      }
            .btn-success:hover{
 color: white!important;
 font-weight: bolder;
      }
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 0em 1.4em !important;
    margin: 0 0 0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
/* form */
/* form */
.logo{
      color: #ff6000!important;
}
      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
/* form */
.card-body form{
    padding: 6px;
        border-radius: 6px;
        /* box-shadow: 0px 0px 10px rgba(0,0,0,0.3)!important; */
}

form input[type="text"]{
    height: 45px;
    border-radius:0px!important;
}

form textarea[type="text"]{
    /* height: 45px; */
    border-radius:0px!important;
}
/* form */
.logo{
      color: #ff6000!important;
}
      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
    .form-control{
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form, .form{
		width: 85%;
		margin: 0 auto;
		padding: 0px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 10px;
		position: relative;
		text-align: center;
    }
	    .custom-select{
        height: 40px;
		box-shadow: none;
		color: #969fa4;
        cursor: pointer;
    }
        .custom-select:focus{
         border-color: #ff6000!important;;
    }
	
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 10px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }  	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */
/* end form */
</style>










