<template>
<div class="content">

<FBmanagersidebal />

<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->
<section>
    <div class="container-fluid">
        <div class="row">
        <div class="col-xl-10 col-lg-9 mt-5 col-md-8 ml-auto">
        <div class="row align-items-center">
        <div class="col-xl-12 col-12 mt-4 mb-4 mb-xl-0">
         <div class="card mb-3 mb-4">
            <div class="card-header bg-light">
               <h1>Update profile</h1>
                 </div>
            <div class="card-block p-0">
        <div class="signup-form">
    <form @submit.prevent="onSubmit">
        <div class="form-group">
			<div class="row">
				<div class="col-xs-12 col-md-12"><input type="password" class="form-control" v-model="current_password" name="current_password" placeholder="Current passwors" required="required"></div>
				<div class="col-xs-12 col-md-12"><input type="password" class="form-control" v-model="new_password"  name="new_password" placeholder="New password" required="required"></div>
                <div class="col-xs-12 col-md-12"><input type="password" class="form-control" v-model="confirmPassword"  name="confirmPassword" placeholder="Confirm password" required="required"></div>
			</div>        	
        </div>      
        <div class="form-group">
            <p class="text-success">{{ changepassword }}</p>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Change</button>
        </div>
    </form>
	<!-- <div class="text-center">Already have an account? <a href="#">Sign in</a></div> -->
</div>
</div>   
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
</div>
</template>

<script>
import FBmanagersidebal from './FBmanagersidebal'
// import Footer from './Footer'
export default {
      components:{
    FBmanagersidebal
    // Footer
  },
    computed: {
    changepassword() {
      return this.$store.getters.changepassword
    }
  },
    		data(){
			return {
                current_password : "",
                new_password : "",
				confirmPassword : "",
            }
		},
		methods: {
		 	onSubmit: function () {
		   		let current_password = this.current_password 
                let new_password = this.new_password
                let confirmPassword = this.confirmPassword 
		   		this.$store.dispatch('fbmanagerchangepassword', { current_password, new_password, confirmPassword})
           .then(response=>{
            //  this.$router.push('/Admin')
           })
            
		   		.catch(err => console.log(err))
		   	}
		}
}
</script>

<style scoped>
/* form */
      .btn-success{
         background: #3b3b3b!important;
         border:none;
         color: #ff6000!important;
      }
        .btn-success:hover{
         color: white!important;
         border:none;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 43%;
		margin: 0 auto;
		padding: 0px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
    	.signup-form input{
		border-radius: 0px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    } 	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */
.list-unstyled{
    text-decoration: none!important;
    color: white!important;
}

.logo{
      color: #ff6000!important;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}

/* card section */
.card-common{
    /* box-shadow: 1px 2px 5px gray; */
    transition: all .4s;
}
.card-common:hover{
    /* box-shadow: 2px 3px 15px gray; */
    transition: translatey(-1);
}
/* end of card */

.page-item{
    color:#7cb342;
}
.page-link{
    color: #7cb342
}
.page-item.active.page-link{
    background-color: #7cb342;
    border-color: #7cb342;
    box-shadow: none;
}
.table-color{
    background:#dcedc8;
}
</style>