<template>
<div class="content">

<FBmanagersidebal />
<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<!-- CARD SECTION -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 mt-5 col-md-8 ml-auto">
                <div class="row pt-md- mt-md-4 mb-2">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-shopping-cart fa-3x text-info"></i>
                                    <div class="text-right text-dark">
                                        <h5>Users</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-info mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Rooms</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                        <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-primary"></i>
                                    <div class="text-right text-dark">
                                        <h5>Booking</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                        <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Expenses</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF CARD SECTION -->

<!-- TABLES -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-3 mb-4">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Users deatails</h3></div>
            <div class="card-block p-0">
		
        <table class="table-vertical">
        	<thead>
        	<tr>
        		<th>Fname</th>
        		<th>Lname</th>
        		<th>Phone</th>
        		<th>Email</th>
        		<th>Date</th>
        		<th>Action</th>        
        	</tr>
        	</thead>
        	<tbody>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	</tbody>
        </table>
            </div>
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link bg-dark">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 mb-0 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-3 mb-4">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Booking deatails</h3></div>
            <div class="card-block p-0">
		
        <table class="table-vertical">
        	<thead>
        	<tr>
        		<th>Fname</th>
        		<th>Lname</th>
        		<th>Phone</th>
        		<th>Email</th>
        		<th>Date</th>
        		<th>Action</th>        
        	</tr>
        	</thead>
        	<tbody>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	</tbody>
        </table>
            </div>
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link bg-dark">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 mb-0 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-3 mb-4">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Expenses deatails</h3></div>
            <div class="card-block p-0">
		
        <table class="table-vertical">
        	<thead>
        	<tr>
        		<th>Fname</th>
        		<th>Lname</th>
        		<th>Phone</th>
        		<th>Email</th>
        		<th>Date</th>
        		<th>Action</th>        
        	</tr>
        	</thead>
        	<tbody>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	</tbody>
        </table>
            </div>
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link bg-dark">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 mb-4 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-3 mb-4">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Rooms deatails</h3></div>
            <div class="card-block p-0">
		
        <table class="table-vertical">
        	<thead>
        	<tr>
        		<th>Fname</th>
        		<th>Lname</th>
        		<th>Phone</th>
        		<th>Email</th>
        		<th>Date</th>
        		<th>Action</th>        
        	</tr>
        	</thead>
        	<tbody>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	</tbody>
        </table>
            </div>
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link bg-dark">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>


<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            staff salary
                        </h3>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Date</th>
                                    <th>Contacy</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                         <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            Recent payments
                        </h3>
                        <table class="table table-color table-hover">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Payment</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><span class="badge badge-success w-75 py-2">Approved</span></td>
                             </tr> 
                                <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
<td><span class="badge badge-success w-75 py-2">pending</span></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Previous</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- END OF MODAL -->

</div>
</template>

<script>
import FBmanagersidebal from './FBmanagersidebal'
// import Footer from './Footer'
export default {
      components:{
    FBmanagersidebal
    // Footer
  }, 
}

</script>

<style scoped>
.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.btn-danger{
   background-color: #ff6000!important;   
}
/* table */
/* 
Generic Styling, for Desktops/Laptops 
*/
.table-vertical { 
  width: 100%; 
  height:auto;
  border-collapse: collapse; 
}
/* Zebra striping */
.table-vertical>tbody>tr:nth-of-type(odd) { 
  background: #f9f9f9;
}
.table-vertical>thead>tr>th { 
  background: #fff; 
  color: #000; 
  font-weight: bold; 
}
.table-vertical>tbody>tr>td, .table-vertical>thead>tr>th { 
  padding: 6px; 
  border-top: 1px solid #ddd; 
  text-align: left; 
  vertical-align: middle;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-vertical thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-vertical>thead>tr,  .table-vertical>tbody>tr{ border: 1px solid #ccc; }
	
	 
	.table-vertical>thead>tr>td,  .table-vertical>tbody>tr>td{ 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table-vertical>tbody>tr>td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.table-vertical>tbody>tr>td:before { content: attr(data-th); }
}

/* table */
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}

</style>