<template>
<div class="content">

<FBSupervisorsidebal />
<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 mt-5 col-lg-9 col-md-8 ml-auto">
                <div class="row mt-3 align-items-center">
                    <div class="col-xl-12 col-12 mb-4 mb-xl-0">

         <div class="card mb-3 mb-4">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">All Menu</h3></div>
            <div class="card-block p-0">
		
<div class="container bg-light">
                <div class="center-title">
                    <h2 class="text-white">Our food menu</h2>
                    <p class="text-white-gray">Best chefs team serve better to our valuable customers</p>
                </div>
                <div class="food-menu-card">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav  tabs-menu-nav justify-content-center mb30" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link active show" href="#breakfast" aria-controls="breakfast" role="tab" data-toggle="tab" aria-selected="true">Breakfast</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#lunch" aria-controls="lunch" role="tab" data-toggle="tab" aria-selected="false"> Lunch</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#dinner" aria-controls="dinner" role="tab" data-toggle="tab" aria-selected="false">Dinner</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content text-justify">
                            <div role="tabpanel" class="tab-pane fade active show" id="breakfast">
                                <div class="row">
                                    <div class="col-md-12 mb20">
                                        <div class="row">
                                        <article v-for="todo in allmenu" :key="todo.id" class="media col-md-6">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food1.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">{{ todo.meal_name }}</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$ {{ todo.unit_price }}</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                        </div>
                                    </div>
                                      <!-- <div class="col-md-6 mb20">
                                        <article class="media">
                                            <a class="g-width-100" href="#">
                                                <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food6.jpg" alt="Menu title">
                                            </a>
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                           <article class="media">
                                            <a class="g-width-100" href="#">
                                                <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food7.jpg" alt="Menu title">
                                            </a>
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                           <article class="media">
                                            <a class="g-width-100" href="#">
                                                <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food8.jpg" alt="Menu title">
                                            </a>
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                           <article class="media">
                                            <a class="g-width-100" href="#">
                                                <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food9.jpg" alt="Menu title">
                                            </a>
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                           <article class="media">
                                            <a class="g-width-100" href="#">
                                                <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food10.jpg" alt="Menu title">
                                            </a>
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                        </article>
                                    </div> -->
                                </div>
                            </div>



                            <div role="tabpanel" class="tab-pane fade" id="lunch">
                                   <div class="row">
                                    <div class="col-md-6 mb20">
                                        <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food10.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food9.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food8.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food7.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food6.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                    </div>
                                      <div class="col-md-6 mb20">
                                        <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food5.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food4.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food3.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food2.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food1.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                    </div>
                                </div>
                            </div>   
                            <div role="tabpanel" class="tab-pane fade" id="dinner">
                                   <div class="row">
                                    <div class="col-md-6 mb20">
                                        <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food10.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food9.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food8.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food4.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food5.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                    </div>
                                      <div class="col-md-6 mb20">
                                        <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food6.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food7.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                           <article class="media">
                                            <!-- Article Image -->
                                            <a class="g-width-100" href="#">
                                                <!-- <img class="img-fluid mr-4" width="80" src="http://bootstraplovers.com/assan-kit-3.8/bootstrap4/website-templates/classic-template/html/images/resto/food8.jpg" alt="Menu title"> -->
                                            </a>
                                            <!--Image -->
                                            <!--Content -->
                                            <div class="media-body align-self-center g-pl-10">
                                                <div class="d-flex justify-content-between mb10">
                                                    <h3 class="align-self-center text-capitalize mb0 h6 text-white font400">Menu title</h3>

                                                    <div class="align-self-center">
                                                        <strong class="text-white font700">$1.20</strong>
                                                    </div>
                                                </div>

                                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </div>
                                            <!--/Content -->
                                        </article><!--/Article -->
                                       
                                      
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link bg-dark">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div> -->
        </div>
                        <!-- end of pagination -->
        </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            staff salary
                        </h3>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Date</th>
                                    <th>Contacy</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                         <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            Recent payments
                        </h3>
                        <table class="table table-color table-hover">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Payment</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><span class="badge badge-success w-75 py-2">Approved</span></td>
                             </tr> 
                                <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
<td><span class="badge badge-success w-75 py-2">pending</span></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Previous</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- END OF MODAL -->

</div>
</template>

<script>
import FBSupervisorsidebal from './FBSupervisorsidebal'
// import Footer from './Footer'
export default {
      components:{
    FBSupervisorsidebal
    // Footer
  },
          created() {
    this.$store.dispatch('fbsupervisorviewmenu')
  },

    computed: {
    // roomtotalexpensess() {
    //   return this.$store.getters.roomtotalexpensess
    // },
    allmenu() {
      return this.$store.getters.allmenu
    },
    
  }, 
}

</script>

<style scoped>
/* menu */
body{margin-top:20px;}
/*
Foods menu
*/

.food-menu-card {
    padding: 0px 20px;
    /* background-color: black; */
    border-radius: 8px;
}

.food-menu-card .media {
    margin-bottom: 20px;
    padding: 4px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3)!important;
}

.food-menu-card .media .img-fluid {
    border-radius: 3px;
    width: 80px;
}

.food-menu-card .media .d-flex {
    position: relative;
}

.food-menu-card .media .d-flex:before {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(56, 44, 44, 0.2);
    top: 50%;
}

.food-menu-card .media h3 {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding-right: 1.07143rem;
    background-color: #000;
    z-index: 2;
}

.food-menu-card .media strong {
    background-color: #000;
    display: block;
    padding-left: 15px;
    z-index: 2;
    position: relative;
}

.tabs-menu-nav > li > a {
          color: #ff6000!important;
    display: block;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    opacity: 0.5;
    font-weight: bold;;
}

.tabs-menu-nav > li > a.active {
    opacity: 1;
    border-bottom-color: #db2e2e;
}
.media-body, p {
    color: #999;
}
/* end of menu */

.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.btn-danger{
   background-color: #ff6000!important;   
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}

</style>