<template>
<div class="content">
<FBSupervisorsidebal />

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 mt-5 col-lg-9 col-md-8 ml-auto">
                <div class="row mt-3 align-items-center">
                    <div class="col-xl-12 col-12 mb-4 mb-xl-0">

         <div class="card mb-5">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Make An Order</h3></div>
            <div class="card-block p-0">

           <div class="container">
                 <div class="row justify-content-center">
          <div class="justify-content-center align-center">
            <form action="">
              <fieldset class="scheduler-border p-2">
                <legend class="scheduler-border">Select table's number</legend>
                              <select type="text" class="custom-select">
		    <option selected="">Number of table</option>
		    <option value="1">1</option>
		    <option value="2">2</option>
		    <option value="3">3</option>
		    </select>
                </fieldset>          
        </form>
        </div>
  </div>
    <div class="row">
    <div class="col-md-6 text-justify">
      <form>
        <h4>Choose your favorite foods</h4>
        <div class="form-group">
        <div class="d-flex flex-row flex-wrap bd-highlight">
          <label class="d-block px-2  bd-highlight">
          <input type="checkbox" class="mr-1" name="sports"> Fanta nini ni noya
          </label>
           <div class="px-2 bd-highlight">
             <input type="text" placeholder="Quantity" class="input-sm">
           </div>          
           <div class="px-2 bd-highlight">
             <input type="text" class="input-sm" value="$100">
           </div>  
          </div>

         <div class="d-flex flex-row flex-wrap bd-highlight">
          <label class="d-block px-2  bd-highlight">
          <input type="checkbox" class="mr-1" name="sports"> Fanta nini ni noya
          </label>
           <div class="px-2 bd-highlight">
             <input type="text" placeholder="Quantity" class="input-sm">
           </div>          
           <div class="px-2 bd-highlight">
             <input type="text" class="input-sm" value="$100">
           </div>  
          </div>

                   <div class="d-flex flex-row flex-wrap bd-highlight">
          <label class="d-block px-2  bd-highlight">
          <input type="checkbox" class="mr-1" name="sports"> Fanta nini ni noya
          </label>
           <div class="px-2 bd-highlight">
             <input type="text" placeholder="Quantity" class="input-sm">
           </div>          
           <div class="px-2 bd-highlight">
             <input type="text" class="input-sm" value="$100">
           </div>  
          </div>

        </div>
        <hr>
      </form>
    </div>
    <div class="col-md-6 text-justify">
      <form>
        <h4>Choose your favorite Drink</h4>
        <div class="form-group">
        <div class="d-flex flex-row flex-wrap bd-highlight">
          <label class="d-block px-2  bd-highlight">
          <input type="checkbox" class="mr-1" name="sports"> Fanta nini ni noya
          </label>
           <div class="px-2 bd-highlight">
             <input type="text" placeholder="Quantity" class="input-sm">
           </div> 
             <!-- <div class="px-2 bd-highlight">
             <input type="number" placeholder="Quantity" class="input-sm">
           </div>           -->
           <div class="px-2 bd-highlight">
             <input type="text" class="input-sm" value="$100">
           </div> 
          </div>

         <div class="d-flex flex-row flex-wrap bd-highlight">
          <label class="d-block px-2  bd-highlight">
          <input type="checkbox" class="mr-1" name="sports"> Fanta nini ni noya
          </label>
           <div class="px-2 bd-highlight">
             <input type="text" placeholder="Quantity" class="input-sm">
           </div>          
           <div class="px-2 bd-highlight">
             <input type="text" class="input-sm" value="$100">
           </div>  
          </div>

                   <div class="d-flex flex-row flex-wrap bd-highlight">
          <label class="d-block px-2  bd-highlight">
          <input type="checkbox" class="mr-1" name="sports"> Fanta nini ni noya
          </label>
           <div class="px-2 bd-highlight">
             <input type="text" placeholder="Quantity" class="input-sm">
           </div>          
           <div class="px-2 bd-highlight">
             <input type="text" class="input-sm" value="$100">
           </div>  
          </div>
        </div>
        <hr>
      </form>
    </div>
        <div class="row justify-content-center px-3">
        <div class="form-group col-md-6">
          <button class="btn btn-block btn-success btn-lg" value="Order Now">Order Now</button>         
        </div>
        </div>
    </div>
</div>	

            </div>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</template>

<script>
import FBSupervisorsidebal from './FBSupervisorsidebal'
// import Footer from './Footer'
export default {
      components:{
    FBSupervisorsidebal
    // Footer
  }, 
}
</script>

<style scoped>
      .btn-success{
           color: #ff6000!important;
         background: #3b3b3b!important;
         border:none;
      }
            .btn-success:hover{
 color: white!important;
 font-weight: bolder;
      }
/* form */
.logo{
      color: #ff6000!important;
}
      .btn-success{
         background: #3b3b3b!important;
         border:none;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 90%;
		margin: 0 auto;
		padding: 0px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 10px;
		position: relative;
		text-align: center;
    }
	    .custom-select{
        height: 40px;
		box-shadow: none;
		color: #969fa4;
        cursor: pointer;
    }
        .custom-select:focus{
         border-color: black!important;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 10px;
    }
	/* .signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }  	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	} */
  form input[type="text"]{
  color: #000!important;
    width: 93px;
    height: 24px;
    border: 1px solid green;
    padding: 4px;
  }
/* end form */
      .btn-success{
           color: #ff6000!important;
         background: #3b3b3b!important;
         border:none;
      }
            .btn-success:hover{
 color: white!important;
 font-weight: bolder;
      }
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 0em 1.4em !important;
    margin: 0 0 0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
/* form */
/* form */

/* end form */

/* end form */
</style>