<template>
<!-- FOOTER AREA -->

<!-- <div class="container-fluid"> -->
<footer>
    <div class="footer" id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6  col-md-6 col-sm-4 col-xs-6">
                  <br />
                  <br />
                  <p></p>
                    <h3> Contact us</h3>
                    <br />
                    <br />
                    
                    <!-- <br /> -->
                    <ul>
                        <li> <a href="#">T: 250789627506</a> </li>
                        <li> <a href="#">E: mdonat2020@gmail.com </a> </li>
                        <li> <a href="#">A: Kimihurura, Kigali </a> </li>
                    </ul>
                    <b-container class="bv-example-row bv-example-row-flex-cols">
                 <b-row>
    <!-- <b-col></b-col> -->
            <b-col md="6" offset-md="4" align-self="center">                     <div class="social justify-content-center align-items-center"> 
                    <div class="websure-social minimal justify-content-center align-items-center">
                    <div class="websure-social-inner justify-content-center align-items-center">
                      <div class="social-img-wrp websure-socialink prk_bordered websure-linkedin">
                        <a href="#" target="_blank">
                          <span class="websure-linkedin fa fa-linkedin"></span>
                          <span class="bg-shifter"><i class="fa fa-linkedin"></i></span>
                        </a>
                      </div>
                      <div class="social-img-wrp websure-socialink prk_bordered websure-facebook">
                        <a href="#" target="_blank">
                          <span class="websure-facebook fa fa-facebook"></span>
                          <span class="bg-shifter"><i class="fa fa-facebook"></i></span>
                        </a>
                      </div>
                      <div class="social-img-wrp websure-socialink prk_bordered websure-instagram">
                        <a href="#" target="_blank">
                          <span class="websure-instagram fa fa-instagram"></span>
                          <span class="bg-shifter"><i class="fa fa-instagram"></i></span>
                        </a>
                      </div>
                       <div class="social-img-wrp  websure-socialink prk_bordered websure-google-plus">
                        <a href="#" target="_blank">
                          <span class="websure-gplus fa fa-google-plus"></span>
                          <span class="bg-shifter"><i class="fa fa-google-plus"></i></span>
                        </a>
                      </div>
                      <div class="social-img-wrp  websure-socialink prk_bordered  websure-twitter">
                        <a href="#" target="_blank">
                          <span class="websure-twitter fa fa-twitter"></span>
                          <span class="bg-shifter"><i class="fa fa-twitter"></i></span>
                        </a>
                      </div>
                      
                    </div>
                  </div>
              
        </div></b-col>
    <!-- <b-col></b-col> -->
  </b-row>
</b-container>
                </div>
                <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12 ">
  <form class="vue-form" @submit.prevent="submit">

    <div class="error-message">
      <p v-show="!email.valid">Oh, please enter a valid email address.</p>
    </div>

    <fieldset>
      <div>
        <input type="text" name="name" id="name" placeholder="Enter your name" required="" v-model="name">
      </div>
      <div>
        <input type="email" name="email" id="email" placeholder="Enter your email" required=""
               :class="{ email , error: !email.valid }"
               v-model="email.value">
      </div>
      <div>
        <textarea class="message" name="textarea" id="textarea" placeholder="Text message" required="" 
                  v-model="message.text" 
                  :maxlength="message.maxlength"></textarea>
        <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>
      </div>
      <div>
        <input type="submit" value="Send Form">
      </div>
    </fieldset>
  </form>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <b-container class="bv-example-row">

  <b-row align-v="center">
    <b-col align-self="center">Developped by <span id="name">SLIVERBACK TEAM</span></b-col>
  </b-row>
</b-container>
    </div>
    <!--/.footer-bottom--> 
</footer>
</template>

<script>
export default {
  // Regular expression from W3C HTML5.2 input specification:
// https://www.w3.org/TR/html/sec-forms.html#email-state-typeemail
// var emailRegExp = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
  data: function() {
    return {
      name: "",
      email: {
        value: "",
        valid: true
      },
      features: ["Reactivity", "Encapsulation", "Data Binding"],
      selection: {
        member: "0",
        framework: "vue",
        features: []
      },
      message: {
        text: ``,
        maxlength: 255
      },
      submitted: false
    };
  },
  methods: {
    // submit form handler
    submit: function() {
      this.submitted = true;
    },
    // validate by type and value
    validate: function(type, value) {
      if (type === "email") {
        this.email.valid = this.isEmail(value) ? true : false;
      }
    },
    // check for valid email adress
    isEmail: function(value) {
      return emailRegExp.test(value);
    },
    // check or uncheck all
    checkAll: function(event) {
      this.selection.features = event.target.checked ? this.features : [];
    }
  },
  watch: {
    // watching nested property
    "email.value": function(value) {
      this.validate("email", value);
    }
  }
}
</script>

<style scoped>
.footer {
	margin: 0px auto;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
    color:#fff;
    background: #3b3b3b;  
    /* z-index: 999;  */
}
.footer-bottom {
    background: #151515;
	/* padding-top: 20px; */
	/* padding-bottom: 40px; */
    color:#fff;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
#name{
    color:#ff6000!important;
}



@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.vue-form {
  	margin: 0px auto;
	padding: 0 70px;
  font-size: 16px;
  width: 500px;
  /* padding: 15px 30px; */
  border-radius: 4px;
  width: 500px;
}

.vue-form div {
  position: relative;
  margin: 20px 0;
}

.vue-form input,
.vue-form textarea,
.vue-form select,
.vue-form label {
  color: #2b3e51;
}
.vue-form input[type="text"],
.vue-form input[type="email"],
.vue-form textarea,
.vue-form select,
.vue-form legend {
  	margin: 0px auto;
	padding: 0 70px;
  display: block;
  width: 100%;
  appearance: none;
}
.vue-form input[type="text"],
.vue-form input[type="email"],
.vue-form textarea,
.vue-form select {
  	margin: 0px auto;
	padding: 0 70px;
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: 0.25em;
}
.vue-form input[type="text"]:focus,
.vue-form input[type="email"]:focus,
.vue-form textarea:focus,
.vue-form select:focus {
  outline: none;
  border-color: #2c3e50;
}
.vue-form .select {
  position: relative;
}
.vue-form .select::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E")
    no-repeat center center;
  pointer-events: none;
}

.vue-form select::-ms-expand {
  display: none;
}
.vue-form .vue-form-list {
  margin-top: 16px;
}
.vue-form .vue-form-list::after {
  clear: both;
  content: "";
  display: table;
}

.vue-form textarea {
  min-height: 120px;
  resize: vertical;
  overflow: auto;
}
.vue-form input[type="submit"] {
  border: none;
  background:#ff6000!important;
  border-radius: 0.25em;
  padding: 12px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;
}
.no-touch .vue-form input[type="submit"]:hover {
  background: #42a2e1;
}
.vue-form input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
.vue-form input[type="submit"]:active {
  transform: scale(0.9);
}
.vue-form .error-message {
  height: 35px;
  margin: 0px;
}
.vue-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.25em;
  padding: 16px;
}
.vue-form .error {
  border-color: #e94b35 !important;
}
.vue-form .counter {
  background-color: #ecf0f1;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 10px;
  padding: 4px;
}

@-webkit-keyframes cd-bounce {
  0%,
  100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes cd-bounce {
  0%,
  100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes cd-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
.footer ul {
	font-size: 17px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
  text-decoration: none;
}
.footer a {
	color: #78828D;
    color:#fff;
}



/* social icons */

.social li i,.social li a{
  font-size: 1.2em;
  color: #2a2a2a;
}
.minimal .social-img-wrp{
    margin-right:6px;
    margin-bottom:6px;
    width:30px;
    height:30px;
    text-align:center;
    float:left
}
.minimal a{
    width:28px;
    height:28px;
    line-height:26px;
    font-size:16px
}
.bg-shifter i{
  color: #fff;
}
.websure-socialink:hover .bg-shifter{
    top:0;
    -moz-transform:rotate(0);
    -ms-transform:rotate(0);
    -webkit-transform:rotate(0);
    transform:rotate(0)
}
.websure-social{
    line-height:0;
    width:100%
}
.websure-social-inner{
    font-size:14px
}
.minimal .social-img-wrp{
    margin-right:6px;
    margin-bottom:6px;
    width:30px;
    height:30px;
    text-align:center;
    float:left
}
.minimal a{
    width:35px;
    height:35px;
    line-height:30px;
    font-size:16px
}
.websure-social a{
    float:left;
    width:100%;
    overflow:hidden;
    position:relative
}
.websure-socialink{
    width:35px;
    height:35px;
    line-height:25px!important;
    position:relative
}
.websure-socialink.websure-behance,.websure-socialink.websure-behance a{
    border-color:#0287e5;
    color:#0287e5
}
.websure-socialink.websure-behance .bg-shifter{
    background-color:#0287e5
}

.websure-socialink.websure-facebook,.websure-socialink.websure-facebook a{
    border-color:#1f69b3;
    color:#1f69b3
}
.websure-socialink.websure-facebook .bg-shifter{
    background-color:#1f69b3
}

.websure-socialink.websure-google-plus,.websure-socialink.websure-google-plus a,.websure-socialink.websure-gplus,.websure-socialink.websure-gplus a{
    border-color:#d34836;
    color:#d34836
}
.websure-socialink.websure-google-plus .bg-shifter,.websure-socialink.websure-gplus .bg-shifter{
    background-color:#d34836;
}
.websure-socialink.websure-instagram,.websure-socialink.websure-instagram a{
    border-color:#c41d78;
    color:#c41d78;
}
.websure-socialink.websure-instagram .bg-shifter{
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}
.websure-socialink.websure-pinterest,.websure-socialink.websure-pinterest a{
    border-color:#df2126;
    color:#df2126
}
.websure-socialink.websure-pinterest .bg-shifter{
    background-color:#df2126
}

.websure-socialink.websure-tumblr,.websure-socialink.websure-tumblr a{
    border-color:#374a61;
    color:#374a61
}
.websure-socialink.websure-tumblr .bg-shifter{
    background-color:#374a61
}
.websure-socialink.websure-twitter,.websure-socialink.websure-twitter a{
    border-color:#43b3e5;
    color:#43b3e5
}
.websure-socialink.websure-twitter .bg-shifter{
    background-color:#43b3e5
}

.websure-socialink.websure-youtube,.websure-socialink.websure-youtube a{
    border-color:#fb2d39;
    color:#fb2d39
}
.websure-socialink.websure-youtube .bg-shifter{
    background-color:#fb2d39
}
.websure-socialink.websure-linkedin,.websure-socialink.websure-linkedin a{
    border-color:#1a7696;
    color:#1a7696
}
.websure-socialink.websure-linkedin .bg-shifter{
    background-color:#1a7696
}
.prk_bordered{
    border:1px solid #26272a
}
.bg-shifter{
    position:absolute;
    top:-60px;
    width:50px;
    height:49px;
    -moz-transition-property:-moz-transform,top;
    -o-transition-property:-o-transform,top;
    -webkit-transition-property:-webkit-transform,top;
    transition-property:transform,top;
    -moz-transition-duration:.25s;
    -o-transition-duration:.25s;
    -webkit-transition-duration:.25s;
    transition-duration:.25s;
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    z-index:-1
}
#websure-to-top,.popup-close{
    position:fixed;
    cursor:pointer
}
.websure-socialink .bg-shifter{
    top:-30px;
    width:30px;
    height:28px;
    z-index:2;
    left:-1px
}
.social{
  /* margin-left: 188px; */
}
</style>