<template>
<div class="content">

<Hotelownersiderbal />
<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<!-- TABLES -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 mt-md-5 pt-5 col-md-8 mb-0 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-3 mb-4">
            <div class="card-header text-justify bg-light">
                 <div class="list">
                     <ul class="list-unstyled text-decoration-none pt-2 d-flex flex-row justify-content-between my-flex-container">
                         <li id="pointer" @click="navigationToAddmanager1" class="text-decoration-none my-flex-item"><a href=""><img src="../assets/Chevron.png" alt=""> B.maurice</a></li>
                         <div class="my-flex-item list-unstyled d-flex flex-row justify-content-end my-flex-container">
                         <li id="pointer" @click="navigationToviewexpense" class="text-decoration-none px-2 my-flex-item"><a href="">Expenses</a></li>
                         <li id="pointer" @click="navigationToAddmanager" class="text-decoration-none px-2 my-flex-item"><a href="">Add manager</a></li>
                         <li id="pointer" @click="navigationToSales" class="text-decoration-none px-2 my-flex-item"><a href="">Sales</a></li>
                         </div>
                     </ul>
                 </div>
                 </div>
            <div class="card-block p-0">
		
        <div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
			</div>        	
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="email" placeholder="Email" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="username" placeholder="Username" required="required"></div>
            </div>      	
        </div>
                <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><input type="password" class="form-control" name="password" placeholder="Password" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="password" class="form-control" name="confirm-password" placeholder="Confirm_password" required="required"></div>
            </div>      	
        </div>
        		<div class="form-group">
            <input type="text" class="form-control" name="position" placeholder="Position" required="required">
        </div>
		<div class="form-group">
            <input type="number" class="form-control" name="number" placeholder="Phone" required="required">
        </div>
		<div class="form-group">
            <input type="number" class="form-control" name="number" placeholder="Your identity" required="required">
        </div>        
        <div class="form-group">
			<!-- <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label> -->
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<!-- <div class="text-center">Already have an account? <a href="#">Sign in</a></div> -->
</div>
            </div>
        </div>
                        <!-- end of pagination -->
            </div>
        </div>
    </div>
</section>

</div>
</template>

<script>
import Hotelownersiderbal from './Hotelownersiderbal'
// import Footer from './Footer'
export default {
      components:{
    Hotelownersiderbal
    // Footer
  }, 
    methods:{
	  navigationToAddmanager(){
		  this.$router.push('/General_manager');
      },
          navigationToviewexpense(){
         this.$router.push('/Viewexpenses');
     },
               navigationToSales(){
         this.$router.push('/Sales');
     }
     
  }
}

</script>

<style scoped>
#pointer{
    cursor: pointer;
}
/* expense */
.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}
/* end of view expenses */

.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.btn-danger{
   background-color: #ff6000!important;   
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}
/* form */
/* form */
.logo, .btn-success{
      color: #ff6000!important;
}
      .btn-success{
         background:#3b3b3b!important;
         border:1px solid #3b3b3b!important;
      }
            .btn-success:hover{
         /* background:  #ff6000!important; */
          color: white!important;;
          font-weight: bold;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 80%;
		margin: 0 auto;
		padding: 0px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }  	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */

/* end form */

</style>