<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="logo">Sliver</span>back</a>
        <button class="navbar-toggler ml-auto mb-2" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item "><a class="nav-link js-scroll-trigger">Home</a></li>
            <li class="nav-item "><a class="nav-link js-scroll-trigger">About</a></li>
            <li class="nav-item "><a class="nav-link js-scroll-trigger">Service</a></li>
            <li class="nav-item " v-if="loggedIn"><router-link to="/Login"><a class="nav-link js-scroll-trigger">Login</a></router-link></li>
          </ul>
                    <!-- <ul class="navbar-nav ml-auto">
            <li class="nav-item " v-for="(linkObj, ind) in navList"
            :key="ind"
            >
              <a class="nav-link js-scroll-trigger" :href="linkObj.path">{{linkObj.name}}</a>              
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
</template>

<script>
export default {
  data:()=>({
    // navList:[
    // {
    //   name:'Home',
    //   path:'/'
    // },
    // {
    //   name:'About',
    //   path:'about'
    // },
    //     {
    //   name:'Service',
    //   path:'service'
    // },
    //     {
    //   name:'Login',
    //   path:'/Login'
    // }
    // ]

  }),
    computed: {
    loggedIn() {
      return this.$store.getters.loggedIn
    }
  }
    
}
</script>

<style scoped>
.logo{
      color: #ff6000!important;
}
.navbar-toggler{
  background-color: #ff6000!important;
}
#mainNav {
  color: black!important;
    background-color: #fff!important;
    box-shadow: 5px 0px 15px #f3f3f3!important;
}
.navbar-dark .navbar-nav .nav-link {
    color:black;
    font-weight: bolder;
}
.navbar-dark .navbar-brand {
    color:black;
     font-weight: bolder;
}

</style>