<template>
<div>
<Heading></Heading>

    <!-- <div class="container-fluid"> -->
<!-- hotels -->
<Hotel />
    <!-- </div> -->
  <Footer />
</div>
</template>

<script>
import Heading from './Heading'
import Hotel from './Hotel'
import Footer from './Footer'

export default {
  name: 'app',
  components:{
    Hotel,
    Heading, 
    Footer
  }
}
</script>

<style>
.content{
    background-color: rgb(110, 110, 23)!important;
}
</style>