<template>
<div class="content">
<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <button class="navbar-toggler ml-auto mb-2 bg-light" type="button"
   data-toggle="cpllapse" data-target="#donat">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                <a href="#" class="navbar-brand text-black d-block mx-auto text-center py-3 mb-4 bottom-border">

                  <a class="btn btn-outline-warning" href="#">
                     <i class="fa fa-fw fa-edit"></i>
                  </a>                                      
                </a>
                <div class="bottom-border pb-3">
                    <img src="" width="50" class="rounded-circle mr-3" alt="">
                    <a href="#" class="text-white">John Doe</a>
                </div>
                <ul class="navbar-nav flex-column mt-4" id="donat">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link current">
                            <i class="fas fa-home text-light fa-lg mr-3">Dashbord</i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-user text-light fa-lg mr-3">Profile</i>
                        </a>
                    </li>
                                        <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-envelope text-light fa-lg mr-3">Imbox</i>
                        </a>
                    </li>
                                        <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-shopping-cart text-light fa-lg mr-3">Sales</i>
                        </a>
                    </li>
                                        <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-chart-line text-light fa-lg mr-3">Analytics</i>
                        </a>
                    </li>
                                        <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-chart-bar text-light fa-lg mr-3">chart</i>
                        </a>
                    </li>
                                        <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-table text-light fa-lg mr-3">Tables</i>
                        </a>
                    </li>
                                        <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-wrench text-light fa-lg mr-3">settings</i>
                        </a>
                    </li>
                     <li class="nav-item">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-file-alt text-light fa-lg mr-3">Documentation</i>
                        </a>
                    </li>
                </ul>

                <!-- TOP NAVBAR -->
           <div class="col-xl-10 col-lg-9 col-md-8 ml-auto top-bar fixed-top py-2 bg-dark top-nav">
           <div class="row align-item-center">
               <div class="col-md-4">
                   <h4 class="text-white text-uppercase mb-0">Dashboard</h4>
               </div>
               <div class="col-md-5">
                   <form action="">
                       <div class="input-group">
                           <input type="text" class="form-control search-input" placeholder="search">
                           <button type="button" class="btn btn-white search-button">
                               <i class="fas fa-search bg-white text-danger"></i>
                           </button>
                       </div>
                   </form>
               </div>
           <div class="col-md-3">
               <ul class="navbar-nav">
                   <li class="nav-item icon-parent">
                       <a href="#" class="nav-link icon-bullet">
                           <i class="fas fa-comments text-light fa-lg"></i>
                       </a>
                   </li>
                                      <li class="nav-item icon-parent">
                       <a href="#" class="nav-link icon-bullet">
                           <i class="fas fa-bell text-light fa-lg"></i>
                       </a>
                   </li>
                   <li class="nav-item ml-md-auto">
                       <a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out">
                           <i class="fas fa-sign-out text-danger fa-lg"></i>
                       </a>
                   </li>
               </ul>
            </div>    
           </div>
           </div>
                <!-- END OF TOP NAV BAR -->
            </div>
        </div>
    </div>
</div>
</nav>

<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<!-- CARD SECTION -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row pt-md- mt-md-3 mb-5">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-shopping-cart fa-3x text-info"></i>
                                    <div class="text-right text-dark">
                                        <h5>Sales</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-info mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>expense</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                                        <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Users</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                                        <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Vistors</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF CARD SECTION -->

<!-- TABLES -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            staff salary
                        </h3>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Date</th>
                                    <th>Contacy</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <!-- pagination -->
                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>


                         <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            Recent payments
                        </h3>
                        <table class="table table-color table-hover">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Payment</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><span class="badge badge-success w-75 py-2">Approved</span></td>
                             </tr> 
                                <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
<td><span class="badge badge-success w-75 py-2">pending</span></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <!-- pagination -->
                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Previous</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- end of pagination -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF TABLES -->



</div>
</template>

<script>
export default {

}

</script>

<style scoped>
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}


/* card section */
.card-common{
    box-shadow: 1px 2px 5px gray;
    transition: all .4s;
}
.card-common:hover{
    box-shadow: 2px 3px 15px gray;
    transition: translatey(-1);
}
/* end of card */

.page-item{
    color:#7cb342;
}
.page-link{
    color: #7cb342
}
.page-item.active.page-link{
    background-color: #7cb342;
    border-color: #7cb342;
    box-shadow: none;
}
.table-color{
    background:#dcedc8;
}
</style>