<template>
<div class="content">

<Siderbal />

<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->
<section>
    <div class="container-fluid">
        <div class="row">
        <div class="col-xl-10 col-lg-9 mt-5 col-md-8 ml-auto">
        <div class="row align-items-center">
        <div class="col-xl-12 col-12 mb-4 mb-xl-0">
         <div class="card mb-3 mb-4">
            <div class="card-header bg-light">
               <h1>Add owner's hotel</h1>
                 </div>
            <div class="card-block p-0">
        <div class="signup-form">
    <form @submit.prevent="onSubmit">
              <!-- <todo-items-remaining></todo-items-remaining> -->
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="f_name" name="f_name" placeholder="First Name" required="required"></div>
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="l_name"  name="l_name" placeholder="Last Name" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="email" class="form-control" v-model="email" name="email" placeholder="Email" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="text" class="form-control" v-model="username" name="username" placeholder="Username" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="password" class="form-control" v-model="password" name="password" placeholder="Password" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="password" class="form-control" v-model="confirmPassword" name="confirmPassword-password" placeholder="Confirm_password" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="number" class="form-control" v-model="phone" name="phone" placeholder="Phone" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="number" class="form-control" v-model="identity" name="identity" placeholder="Your identity" required="required"></div>
                <div class="col-xs-12 col-md-12"><input type="number" class="form-control" v-model="num_allowed" name="num_allowed" placeholder="Your identity" required="required"></div>               
			</div>        	
        </div>     
        <!-- <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div> -->
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block fetch-token">Register Now</button>
        </div>
    </form>
	<!-- <div class="text-center">Already have an account? <a href="#">Sign in</a></div> -->
</div>
</div>   
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
</div>
</template>

<script>
import Siderbal from './Siderbal'
import TodoItemsRemaining from './TodoItemsRemaining'
// import Footer from './Footer'
// import { mapGetters, mapActions } from 'vuex';
export default {
      components:{
    Siderbal,
    // Footer
    TodoItemsRemaining
  },
      computed: {
    loggedIn() {
      return this.$store.getters.loggedIn
    }
  },
  		data(){
			return {
				f_name : "",
                l_name : "",
                email : "",
                username : "",
                phone : "",
                identity : "",
                password : "",
                confirmPassword : "",
                num_allowed : "",
            }
		},
		methods: {
		 	onSubmit: function () {
		   		let f_name = this.f_name 
                let l_name = this.l_name
                let email = this.email 
                let username = this.username
                let phone = this.phone 
                let identity = this.identity
                let password = this.password 
                let confirmPassword = this.confirmPassword
                let num_allowed = this.num_allowed
                let level = this.level
		   		this.$store.dispatch('AddPartner', { f_name, l_name, email, username, phone, identity, password, confirmPassword, num_allowed, level})
           .then(response=>{
            //  this.$router.push('/Admin')
           })
            
		   		.catch(err => console.log(err))
		   	}
		}

}
</script>

<style scoped>
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
/* form */
/* form */
.logo{
      color: #ff6000!important;
}
      .btn-success{
		  color: #ff6000!important;
         background: #3b3b3b!important;
         border:none;
      }
	        .btn-success:hover{
		  color: white!important;
         font-weight: bold;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 55%;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
		.signup-form input{
		border-radius: 0px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	/* .signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}    	 */
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */

/* end form */
</style>