<template>
<div class="content">
<Roomdivisionsidebal />

<section>
    <div class="container-fluid mt-md-5">
        <div class="row">
            <div class="col-xl-10 mt-md-4 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-12 mb-4 mb-xl-0">

         <div class="card mb-3 mb-3">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Add new room</h3></div>
            <div class="card-block p-0">
        <div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <div class="form-group">
			<div class="row">
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
				<div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
			</div>        	
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><input type="email" class="form-control" name="email" placeholder="Email" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="text" class="form-control" name="username" placeholder="Username" required="required"></div>
            </div>      	
        </div>
                <div class="form-group">
            <div class="row">
                <div class="col-xs-6 col-md-6"><input type="password" class="form-control" name="password" placeholder="Password" required="required"></div>
                <div class="col-xs-6 col-md-6"><input type="password" class="form-control" name="confirm-password" placeholder="Confirm_password" required="required"></div>
            </div>      	
        </div>
        		<div class="form-group">
            <input type="text" class="form-control" name="position" placeholder="Position" required="required">
        </div>
		<div class="form-group">
            <input type="number" class="form-control" name="number" placeholder="Phone" required="required">
        </div>
		<div class="form-group">
            <input type="number" class="form-control" name="number" placeholder="Your identity" required="required">
        </div>        
        <div class="form-group">
			<!-- <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label> -->
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<!-- <div class="text-center">Already have an account? <a href="#">Sign in</a></div> -->
</div>
            </div>
            <!-- <div class="card-footer p-0">

            </div> -->
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</template>

<script>
import Roomdivisionsidebal from './Roomdivisionsidebal'
// import Footer from './Footer'
export default {
      components:{
    Roomdivisionsidebal
    // Footer
  }, 
}
</script>

<style scoped>
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
/* form */
/* form */
.logo{
      color: #ff6000!important;
}
      .btn-success{
        color: #ff6000!important;
         background: #3b3b3b!important;
         border:none;
      }
            .btn-success:hover{
        color: white!important;
        font-weight: bolder;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 80%;
		margin: 0 auto;
		padding: 0px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }  	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */

/* end form */
</style>