<template>
<div class="content">

<Roomdivisionsidebal />
<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<section>
    <div class="container-fluid mt-md-5">
        <div class="row mt-md-5">
            <div class="col-xl-10 col-lg-9 col-md-8 mt-md-4 ml-auto">
                <div class="row pt-md- mb-0">
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-shopping-cart fa-3x text-info"></i>
                                    <div class="text-right text-dark">
                                        <h5>Rooms</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-info mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Pending</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                        <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-primary"></i>
                                    <div class="text-right text-dark">
                                        <h5>Approved</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                        <div class="col-xl-3 col-sm-6 p-2">
                        <div class="card card-common">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <i class="fas fa-money-bill fa-3x text-success"></i>
                                    <div class="text-right text-dark">
                                        <h5>Unclean</h5>
                                        <h3>$10.000</h3>
                                    </div>
                                </div>
                            </div>
                         <div class="card-footer text-dark">
                             <i class="fas fa-spinner fa-pulse text-success mr-3"></i>
                             <span>Updating</span>
                             </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- TABLES -->

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 mb-5 col-md-8 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-5">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Rooms</h3></div>
            <div class="card-block p-0">
		
  <h2 class="text-center font-weight-bold titulo">Rooms with status</h2>
  <div class="container">
    <div class="vertical-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#pag1" role="tab" aria-controls="home">Standard rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag2" role="tab" aria-controls="profile">Suit rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag3" role="tab" aria-controls="messages">Single rooms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag4" role="tab" aria-controls="settings">Double rooms</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag5" role="tab" aria-controls="settings">Supper rooms</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag6" role="tab" aria-controls="settings">Vip rooms</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag7" role="tab" aria-controls="settings">Guest rooms</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="pag1" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Standard rooms</h3>
            <button class="btn btn-success">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
            <button class="btn btn-info">4</button>
            <button class="btn btn-success">5</button>
            <button class="btn btn-primary">6</button>
            
            <div class="mt-5 d-flex flex-row justify-content-center my-flex-container">
            <p class="p-2 my-flex-item"><button class="btn btn-success"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-danger"></button> :dirty</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-primary"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-info"></button> :Occupied</p>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pag2" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Suit rooms</h3>
            <button class="btn btn-success">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
            <button class="btn btn-info">4</button>
            <button class="btn btn-success">5</button>
            <button class="btn btn-primary">6</button>

            <div class="mt-5 d-flex flex-row justify-content-center my-flex-container">
            <p class="p-2 my-flex-item"><button class="btn btn-success"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-danger"></button> :dirty</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-primary"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-info"></button> :Occupied</p>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pag3" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Single rooms</h3>
            <button class="btn btn-success">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
            <button class="btn btn-info">4</button>
            <button class="btn btn-success">5</button>
            <button class="btn btn-primary">6</button>

            <div class="mt-5 d-flex flex-row justify-content-center my-flex-container">
            <p class="p-2 my-flex-item"><button class="btn btn-success"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-danger"></button> :dirty</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-primary"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-info"></button> :Occupied</p>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="pag4" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Double rooms</h3>
            <button class="btn btn-success">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
            <button class="btn btn-info">4</button>
            <button class="btn btn-success">5</button>
            <button class="btn btn-primary">6</button>

            <div class="mt-5 d-flex flex-row justify-content-center my-flex-container">
            <p class="p-2 my-flex-item"><button class="btn btn-success"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-danger"></button> :dirty</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-primary"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-info"></button> :Occupied</p>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="pag5" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Supper rooms</h3>
            <button class="btn btn-success">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
            <button class="btn btn-info">4</button>
            <button class="btn btn-success">5</button>
            <button class="btn btn-primary">6</button>

            <div class="mt-5 d-flex flex-row justify-content-center my-flex-container">
            <p class="p-2 my-flex-item"><button class="btn btn-success"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-danger"></button> :dirty</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-primary"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-info"></button> :Occupied</p>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="pag6" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>VIP rooms</h3>
            <button class="btn btn-success">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
            <button class="btn btn-info">4</button>
            <button class="btn btn-success">5</button>
            <button class="btn btn-primary">6</button>

            <div class="mt-5 d-flex flex-row justify-content-center my-flex-container">
            <p class="p-2 my-flex-item"><button class="btn btn-success"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-danger"></button> :dirty</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-primary"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-info"></button> :Occupied</p>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="pag7" role="tabpanel">
          <div class="sv-tab-panel">
            <h3>Guest rooms</h3>
            <button class="btn btn-success">1</button>
            <button class="btn btn-danger">2</button>
            <button class="btn btn-success">3</button>
            <button class="btn btn-info">4</button>
            <button class="btn btn-success">5</button>
            <button class="btn btn-primary">6</button>

            <div class="mt-5 d-flex flex-row justify-content-center my-flex-container">
            <p class="p-2 my-flex-item"><button class="btn btn-success"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-danger"></button> :dirty</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-primary"></button> :available</p>
            <p class=" p-2 my-flex-item"><button class="btn btn-info"></button> :Occupied</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- END OF MODAL -->

</div>
</template>

<script>
import Roomdivisionsidebal from './Roomdivisionsidebal'
// import Footer from './Footer'
export default {
      components:{
    Roomdivisionsidebal
    // Footer
  }, 
}

</script>

<style scoped>
/* rooms status */
body {background:#7cbac1; margin: 0;}
/* Vertical Tabs */
 .vertical-tabs{
    font-size:15px;
    padding:10px;
    color:#000
}
 .vertical-tabs .nav-tabs .nav-link{
    border-radius: 0;
    background:black;
    text-align:center;
    font-size: 16px;
    border:1px solid #424242;
    color:#fff;
    height:40px;
    width: 170px;
}
 .vertical-tabs .nav-tabs .nav-link.active{
    background-color:#ff6000!important;
    color:#fff;
}
 .vertical-tabs .tab-content>.active{
    background:#fff;
    display:block;
}
 .vertical-tabs .nav.nav-tabs{
    border-bottom:0;
    border-right:3px solid #000;
    display:block;
    float:left;
    margin-right:20px;
    padding-right:15px;
}
 .vertical-tabs .sv-tab-panel{
    background:#fff;
    height:274px;
    padding-top:10px;
}
@media only screen and (max-width: 420px){
  .titulo{font-size: 22px}
}
@media only screen and (max-width: 325px){
  .vertical-tabs{ padding:8px;}
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 9px;
}

/* end of rooms status */

/* user */

ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  background:linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9)) no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:10px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:25px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase!important;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

/* user */
.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.btn-danger{
   background-color: #ff6000!important;   
}
/* table */
/* 
Generic Styling, for Desktops/Laptops 
*/
.table { 
  width: 100%; 
  height:auto;
  border-collapse: collapse; 
}
/* Zebra striping */
.table>tbody>tr:nth-of-type(odd) { 
  background: #f9f9f9;
}
.table>thead>tr>th { 
  background: #fff; 
  color: #000; 
  font-weight: bold; 
}
.table>tbody>tr>td, .table>thead>tr>th { 
  padding: 6px; 
  border-top: 1px solid #ddd; 
  text-align: left; 
  vertical-align: middle;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table>thead>tr,  .table>tbody>tr{ border: 1px solid #ccc; }
	
	 
	.table>thead>tr>td,  .table>tbody>tr>td{ 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table>tbody>tr>td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.table>tbody>tr>td:before { content: attr(data-th); }
}

/* table */
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}

</style>