<template>
<div class="content">
<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <button class="navbar-toggler ml-auto mb-2 bg-light" type="button"
   data-toggle="cpllapse" data-target="#donat">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                <a href="#" class="navbar-brand text-black nav-link text-white p-3 mb-2 sidebar-link d-block mx-auto text-white text-center py-3 mb-4 bottom-border">
                 <h3><span class="logo">Sliver</span>back </h3>
                  </a>                                      
                <div v-for="todo in showprofile" :key="todo.id" class="bottom-border text-justify pb-3">
                    <img src="" width="50" class="rounded-circle mr-3" alt="">
                    <a href="#" class="text-white font-weight-bold" id="profile">{{ todo.f_name }} {{ todo.l_name }}</a>
                </div>
                <ul class="navbar-nav text-justify flex-column mt-4" id="donat">
                    <li class="nav-item"><router-link to="/Supervisor">
                        <a href="#" class="nav-link text-white p-3 mb-2 text-justify sidebar-link current">
                            <i class="fas fa-home fa-lg mr-3">Dashbord</i>
                        </a>
                    </router-link></li>
                    <!-- <li class="nav-item">
                        <a href="#hotelsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-user fa-lg mr-3">Users</i>
                        </a>
                        <ul class="collapse list-unstyled ml-4" id="hotelsubmenu">
                            <li class="p-1 py-0"><router-link class="text-decoration-none" to="/View_user">
                                <a class="text-white text-decoration-none" href="#">View users</a>
                            </router-link></li>
                             <li class="p-1 py-0"><router-link class="text-decoration-none" to="/User_add">
                                <a class="text-white text-decoration-none" href="#">Add user</a>
                            </router-link></li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="#roomsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-shopping-cart fa-lg mr-3">Rooms</i>
                        </a>
                            <ul class="collapse ml-4 list-unstyled" id="roomsubmenu">
                            <li class="p-1 py-0"><router-link class="text-decoration-none" to="/View_room">
                                <a class="text-white text-decoration-none" href="#">View rooms</a>
                            </router-link></li>
                             <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Room_add">
                                <a class="text-white text-decoration-none" href="#">Add room</a>
                            </router-link></li>
                            <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Room_detail">
                                <a class="text-white text-decoration-none" href="#">Room details</a>
                            </router-link></li>
                        </ul>
                    </li> -->
                     <li class="nav-item font-weight-bold">
                        <a href="#bookingsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-chart-line fa-lg mr-3"></i> Booking
                        </a>
                         <ul class="collapse ml-4 list-unstyled" id="bookingsubmenu">
                            <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Supervisor_view_booking">
                                <a class="text-white text-decoration-none" href="#">View booking</a>
                            </router-link></li>
                             <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Supervisor_add_booking">
                                <a class="text-white text-decoration-none" href="#">Add booking</a>
                            </router-link></li>
                        </ul>
                    </li>
                                            <li class="nav-item font-weight-bold">
                        <a href="#Supervisorprofile" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-chart-line fa-lg mr-3"></i> Profile
                        </a>
                         <ul class="collapse ml-4 list-unstyled" id="Supervisorprofile">
                            <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Supervisor_profile">
                                <a class="text-white text-decoration-none" href="#">Update profile</a>
                            </router-link></li>
                             <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Supervisor_password">
                                <a class="text-white text-decoration-none" href="#">Change password</a>
                            </router-link></li>
                        </ul>
                    </li>

                                <li class="nav-item font-weight-bold">
                        <a href="#Supervisorpexpense" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-chart-line fa-lg mr-3"></i>Expense
                        </a>
                         <ul class="collapse ml-4 list-unstyled" id="Supervisorpexpense">
                            <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Supervisor_view_expense">
                                <a class="text-white text-decoration-none" href="#">View Expense</a>
                            </router-link></li>
                             <li class="p-1 py-0"><router-link class="text-decoration-none" to="/Supervisor_add_expense">
                                <a class="text-white text-decoration-none" href="#">Add Expense</a>
                            </router-link></li>
                        </ul>
                    </li>

                    <li class="nav-item font-weight-bold">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-envelope fa-lg mr-3"></i> Imbox
                        </a>
                    </li>
                                        <li class="nav-item font-weight-bold">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-chart-bar fa-lg mr-3"></i>Chart
                        </a>
                    </li>
                                        <li class="nav-item font-weight-bold">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-table fa-lg mr-3"></i> Tables
                        </a>
                    </li>
                                        <li class="nav-item font-weight-bold">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-wrench fa-lg mr-3"></i> Settings
                        </a>
                    </li>
                     <li class="nav-item font-weight-bold">
                        <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                            <i class="fas fa-file-alt fa-lg mr-3"></i> Documentation
                        </a>
                    </li>
                </ul>

                <!-- TOP NAVBAR -->
           <div class="col-xl-10 col-lg-9 col-md-8 ml-auto top-bar fixed-top py-2 bg-dark top-nav">
           <div class="row align-item-center">
               <div class="col-md-4">
                   <h4 class="text-white text-uppercase mb-0">Dashboard</h4>
               </div>
               <div class="col-md-5">
                   <form action="">
                       <div class="input-group">
                           <input type="text" class="form-control search-input" placeholder="search">
                           <button type="button" class="btn btn-white search-button">
                               <i class="fas fa-search bg-white text-danger"></i>
                           </button>
                       </div>
                   </form>
               </div>
           <div class="col-md-3">
               <ul class="navbar-nav">
                   <li class="nav-item icon-parent">
                       <a href="#" class="nav-link icon-bullet">
                           <i class="fas fa-comments text-light fa-lg"></i>
                       </a>
                   </li>
                                      <li class="nav-item icon-parent">
                       <a href="#" class="nav-link icon-bullet">
                           <i class="fas fa-bell text-light fa-lg"></i>
                       </a>
                   </li>
                   <li class="nav-item ml-md-auto">
                       <a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out">
                           <i class="fas fa-sign-out text-danger fa-lg"></i>
                       </a>
                   </li>
               </ul>
            </div>    
           </div>
           </div>
                <!-- END OF TOP NAV BAR -->
            </div>
        </div>
    </div>
</div>
</nav>

<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

</div>
</template>

<script>
export default {
    computed: {
    showprofile() {
      return this.$store.getters.showprofile
    },
    },
      created() {
    this.$store.dispatch('supervisorshowprofile')
  },

}

</script>

<style scoped>
#profile{
    text-decoration: none;
}
#decoration a{
    text-decoration: none!important;
}
.logo{
      color: #ff6000!important;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
    /* align-items: center; */
}
.sidebar .navbar-nav .sidebar-link{
    /* padding: 10px; */
    display: block;

}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
 color: #ff6000!important;
    border-radius:7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s;
}
.current:hover{
    color: #ff6000!important; 
     border-radius:7px;
    box-shadow: 2px 5px 20px #111;
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
   color: #ff6000!important; 
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      /* height: 60px; */
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}

.dropdown-toggle::after{
    position: absolute;
    margin-top: 6%;
    right: 20px;
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}

</style>