<template>
        <div class="form-group">
			<div class="row">
				<div class="col-xs-8 col-md-8"><input type="text" class="form-control" name="first_name" v-model="level" required="required"></div>
			</div>        	
        </div>
</template>

<script>
export default {
  name: 'todo-remaining',
    computed: {
    level: {
	 get() {
		 return this.$store.getters.level
        // return this.$store.state.form.firstName;
      },
      set(value) {
        this.$store.commit('login', value);
      },
    }
  }
}
</script>

<style scoped>
/* form */
      .btn-success{
         background: #3b3b3b!important;
         border:none;
         color: #ff6000!important;
      }
        .btn-success:hover{
         color: white!important;
         border:none;
      }
    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #ff6000!important;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 80%;
		margin: 0 auto;
		padding: 0px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        /* background: #f2f3f7; */
        background: white;
        /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{        
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    } 	
    .signup-form a{
		color: #fff;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color:#ff6000!important;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}
/* end form */
.list-unstyled{
    text-decoration: none!important;
    color: white!important;
}

.logo{
      color: #ff6000!important;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}

/* card section */
.card-common{
    /* box-shadow: 1px 2px 5px gray; */
    transition: all .4s;
}
.card-common:hover{
    /* box-shadow: 2px 3px 15px gray; */
    transition: translatey(-1);
}
/* end of card */

.page-item{
    color:#7cb342;
}
.page-link{
    color: #7cb342
}
.page-item.active.page-link{
    background-color: #7cb342;
    border-color: #7cb342;
    box-shadow: none;
}
.table-color{
    background:#dcedc8;
}
</style>