<template>
<div class="content">
<Hotelownersiderbal />
<!-- END OF NAVBAR -->
<!-- TABLES -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 mt-md-5 pt-5 mb-5 col-md-8 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-5">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Regestered hotels</h3></div>
            <div class="card-block p-0">
		
<div class="container">
		<div class="row mb-5">
			  <div v-for="todo in retrieveTodos" :key="todo.id" class="col-md-4">
					 <a @click="navigationToHome" class="text-decoration-none viewhotel text-black">
				<div class="card">
					<img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
					<div class="card-body text-justify">
						<h5 class="card-title text-justify font-weight-bold">{{ todo.hotel_name }}</h5>
						<div class="row">
						<div class="col-md-12">
						<p class="card-text text-justify text-decoration-none"><span class="text-muted">Location :</span><span class="text-black kiyovu">{{ todo.address }}</span><br>
						<span class="text-muted text-decoration-none">Email :</span><span class="kiyovu"><a href="#">{{ todo.hotels_email }}</a></span><br>
						<span class="text-muted">Phone :</span><span class="kiyovu">{{ todo.phone}}</span><br>
						<span class="text-muted">Zip_code :</span><span class="kiyovu">{{ todo.zip_code }}</span></p>
						<a @click="navigationToHome" href="#" class="btn border-none btn-sm btn-block btn-primary">Details</a>
						</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			 
			  <!-- <div class="col-md-4">
					 <a @click="navigationToHome" class="text-decoration-none viewhotel text-black" href="">
				<div class="card">
					<img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
					<div class="card-body text-justify">
						<h5 class="card-title text-justify font-weight-bold">B.maurice guest house</h5>
						<div class="row">
						<div class="col-md-12">
						<p class="card-text text-justify text-decoration-none"><span class="text-muted">Location :</span><span class="text-black kiyovu">Kiyovu</span><br>
						<span class="text-muted text-decoration-none">Email :</span><span class="kiyovu"><a href="#">dmurego2014@gmail.com</a></span><br>
						<span class="text-muted">Phone :</span><span class="kiyovu">+250789627506</span><br>
						<span class="text-muted">Website :</span><span class="kiyovu">www.bmaurice.com</span></p>
						<a @click="navigationToHome" href="#" class="btn border-none btn-sm btn-block btn-primary">Details</a>
						</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4">
				<a @click="navigationToHome" class="text-decoration-none viewhotel text-black" href="">
				<div class="card">
					<img src="https://source.unsplash.com/random/1920x1080" class="card-img-top" alt="...">
					<div class="card-body text-justify">
						<h5 class="card-title text-justify font-weight-bold">B.maurice guest house</h5>
						<div class="row">
						<div class="col-md-12">
						<p class="card-text text-justify text-decoration-none"><span class="text-muted">Location :</span><span class="text-black kiyovu">Kiyovu</span><br>
						<span class="text-muted text-decoration-none">Email :</span><span class="kiyovu"><a href="#">dmurego2014@gmail.com</a></span><br>
						<span class="text-muted">Phone :</span><span class="kiyovu">+250789627506</span><br>
						<span class="text-muted">Website :</span><span class="kiyovu">www.bmaurice.com</span></p>
						<a @click="navigationToHome" href="#" class="btn border-none btn-sm btn-block btn-primary">Details</a>
						</div>
						</div>
					</div>
				</div>
				</a>
			</div> -->
		</div>
		<!-- row -->

	</div>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>
  
</div>
</template>

<script>
import Hotelownersiderbal from './Hotelownersiderbal'
import { mapGetters } from 'vuex'
  export default {
	  computed: mapGetters(["retrieveTodos"]),
        components:{
    Hotelownersiderbal
    // Footer
  },
  methods:{
	  navigationToHome(){
		  this.$router.push('/Viewexpenses');
	  }
  },
    created() {
    this.$store.dispatch('retrieveTodos')
  },
  }
</script>

<style scoped>
.viewhotel{
	cursor: pointer;
}
.card-title, .kiyovu{
	color: #2c3e50!important;
}
.btn-primary{
	background: none!important;
	color:#ff6000!important;
	border: 1px solid  black!important;
		font-weight: bolder!important;
}
.btn-primary:hover{
	background:#ff6000!important;
	color: white!important;
	font-weight: bolder!important;
}
.btn-danger{
   background-color: #ff6000!important;   
}
.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.tab
/* .bg-light{
  background-color: #ff6000!important;
} */
.btn-danger{
   background-color: #ff6000!important;   
}

.list-unstyled{
    text-decoration: none!important;
    color: white!important;
}
.logo{
      color: #ff6000!important;
      font-weight: bolder;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}

/* hotels */
.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}
/* ends of hotels */
</style>