<template>
<div class="content">

<Gmsiderbal />
<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->

<!-- TABLES -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 mt-md-5 pt-5 col-md-8 mb-0 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-3 mb-4">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">All expenses</h3></div>
            <div class="card-block p-0">
		
<div class="container">
		<p>Total expenses </p>
		<h3 class="font-weight-bold">{{ totalexpense }} Frw</h3>
		<!-- row -->
		<div class="row">
			<div v-for="todo in getExpense" :key="todo.id" class="col-md-6">
				<div class="card text-justify card-body">
                                <div class="row">
								<p class="card-text font-weight-bold col-md-9">Room clearing</p>
                                <p class="card-text font-weight-bold col-md-3">{{ todo.amount }} Frw</p>
								<p class="card-text px-2 ml-1">{{ todo.description }}</p>
                                </div>
				</div>
			</div>
			<!-- <div class="col-md-6">
				<div class="card text-justify card-body">
                                <div class="row">
								<p class="card-text font-weight-bold col-md-9">Room clearing</p>
                                <p class="card-text font-weight-bold col-md-3">2000Frw</p>
								<p class="card-text px-2 ml-1">This is a wider card with supporting text below as a natural lead-in.</p>
                                </div>
				</div>
			</div>
		</div>
        		<div class="row">
			<div class="col-md-6">
				<div class="card text-justify card-body">
                                <div class="row">
								<p class="card-text font-weight-bold col-md-9">Room clearing</p>
                                <p class="card-text font-weight-bold col-md-3">2000Frw</p>
								<p class="card-text px-2 ml-1">This is a wider card with supporting text below as a natural lead-in.</p>
                                </div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card text-justify card-body">
                                <div class="row">
								<p class="card-text font-weight-bold col-md-9">Room clearing</p>
                                <p class="card-text font-weight-bold col-md-3">2000Frw</p>
								<p class="card-text px-2 ml-1">This is a wider card with supporting text below as a natural lead-in.</p>
                                </div>
				</div>
			</div> -->
		</div>
		<!-- row -->
	</div>
            </div>
        </div>
                        <!-- end of pagination -->
            </div>
        </div>
    </div>
</section>

</div>
</template>

<script>
import Gmsiderbal from './Gmsiderbal'
// import { mapGetters, mapActions } from 'vuex'
  export default {
        components:{
        Gmsiderbal
    // Footer
  },

    created() {
    this.$store.dispatch('viewallexpense')
  },

    computed: {
    getExpense() {
      return this.$store.getters.getExpense
    },
        totalexpense () {
      return this.$store.getters.totalexpense
    }
  },
  }

</script>

<style scoped>
/* expense */
.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}
/* end of view expenses */
.card-body .row{
    border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3)!important;
}
.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.btn-danger{
   background-color: #ff6000!important;   
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}

</style>