<template>
<div class="content">

<Gmsiderbal />
<!-- END OF NAVBAR -->
<!-- MODAL -->
<div class="modal" id="sign-out">
    <div class="madal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">sign-out</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                Press the button
            </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Leave
                </button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Concel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODAL -->


<!-- TABLES -->

<section>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-xl-10 col-lg-9 mt-md-5 col-md-8 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-3 mb-3">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Our team</h3></div>
            <div class="card-block p-0">
<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <!-- <h2>Our Team</h2> -->
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: auto;">
            <!-- <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure> -->
            <h3><a href="http://www.webcoderskull.com/">Web coder skull</a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
                <div class="pt-3 pb-0">
                <p class="btn border-0 bg-dark font-weight-bold text-white btn-block">Edit</p>
                </div>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: auto;">
            <!-- <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure> -->
            <h3><a href="#">Kappua </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
                        <div class="pt-3 pb-0">
                <p class="btn border-0 bg-dark font-weight-bold text-white btn-block">Edit</p>
                </div>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: auto;">
            <!-- <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure> -->
            <h3><a href="http://www.webcoderskull.com/">Manish </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
                        <div class="pt-3 pb-0">
                <p class="btn border-0 bg-dark font-weight-bold text-white btn-block">Edit</p>
                </div>
          </div>
       </li>
    </ul>
        <ul class="row">
      <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: auto;">
            <!-- <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure> -->
            <h3><a href="http://www.webcoderskull.com/">Web coder skull</a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
                                      <div class="pt-3 pb-0">
                <p class="btn border-0 bg-dark font-weight-bold text-white btn-block">Edit</p>
                </div>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: auto;">
            <!-- <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure> -->
            <h3><a href="#">Kappua </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
                                      <div class="pt-3 pb-0">
                <p class="btn border-0 bg-dark font-weight-bold text-white btn-block">Edit</p>
                </div>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-4">
          <div class="cnt-block equal-hight" style="height: auto;">
            <!-- <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure> -->
            <h3><a href="http://www.webcoderskull.com/">Manish </a></h3>
            <p>Freelance Web Developer</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
                                      <div class="pt-3 pb-0">
                <p class="btn border-0 bg-dark font-weight-bold text-white btn-block">Edit</p>
                </div>
          </div>
       </li>
    </ul>
  </div>
</section>
            </div>
            <!-- <div class="card-footer p-0">

            </div> -->
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>


<!-- <section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            staff salary
                        </h3>
                        <table class="table table-striped bg-light text-center">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Date</th>
                                    <th>Contacy</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">edit</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                         <div class="col-xl-6 col-12 mb-4 mb-xl-0">
                        <h3 class="text-dark text-center mb-3">
                            Recent payments
                        </h3>
                        <table class="table table-color table-hover">
                            <thead>
                                <tr class="text-dark">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Payment</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><span class="badge badge-success w-75 py-2">Approved</span></td>
                             </tr> 
                                <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
<td><span class="badge badge-success w-75 py-2">pending</span></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr> 
                                                           <tr>
                                  <th>1</th>
                                  <td>Donat</td>
                                  <td>$3000</td>
                                  <td>21-09-2019</td>
                                  <td><button type="button" class="btn btn-danger btn-sm">Message</button></td>
                             </tr>  
                            </tbody>
                        </table>

                        <nav class="color">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Previous</span>
                                    </a>
                                </li>
                                        <li class="page-item active">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        1
                                    </a>
                                </li>
                                                                        <li class="page-item">
                                    <a href="#" class="page-link py-2 px-3">
                                        <span>Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- END OF MODAL -->

</div>
</template>

<script>
import Gmsiderbal from './Gmsiderbal'
// import Footer from './Footer'
export default {
      components:{
    Gmsiderbal
    // Footer
  }, 
}

</script>

<style scoped>
/* user */

ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 6px;
    padding-bottom: 10px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    /* border: 0; */
}
.our-webcoderskull .cnt-block{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3)!important;
}

.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
  background:light no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:10px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:25px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase!important;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

/* user */
.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.btn-danger{
   background-color: #ff6000!important;   
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
.sidebar{
    height: 100vh;
    background-color: linear-gradient(rgb(0,0,0, .7), rgb(0,0,0,.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
    color:#fff;
    background: #3b3b3b; 
}
.bottom-border{
    /* border-bottom: 5px dotted white; */
     border-bottom: 1px groove #eee;
}
.current{
    background-color: #b71c1c;
    border-radius:7px;
    /* box-shadow: 2px 5px 10px #111; */
    transition: all .3s;
}
.current:hover{
    background-color: #b71c1c;
     border-radius:7px;
    /* box-shadow: 2px 5px 20px #111; */
    transition: translatey(-1px);
}
.sidebar-link{
    transition:all .4s;
}
.sidebar-link:hover{
    background-color: #b71c1c;
    border-radius:5px;
}
.top-bar{
      background: #3b3b3b; 
      height: 60px;
}
.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s; 
}
.search-input:focus{
    background: transparent;
    /* border: none; */
    /* border-radius: 0; */
    border-bottom: 2px solid #b71c2c;
    /* transition: all .4s;  */
    box-shadow: none;
}
.seach-button{
border-radius: 50%;
padding: 10px 16px;
transition: all .4s;
}
.seach-button:hover{
transform: translatey(-1px);
background-color: white
}
input-form-control{
    color: white; 
}
.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #b71c1c;
    border-radius: 50%; 
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-nav{
        position: static;
    }
}

</style>