<template>
<div class="content">
<Hotelownersiderbal />
<!-- END OF NAVBAR -->
<!-- TABLES -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-9 mt-md-5 mb-5 col-md-8 ml-auto">
                <!-- <div class="row align-items-center">
                    <div class="col-xl-6 col-md-12 mb-4 mb-xl-0"> -->

         <div class="card mb-5">
            <div class="card-header bg-light"> <h3 class="text-dark text-center mb-3">Hotel's general managers</h3></div>
            <div class="card-block p-0">
		
        <table class="table-vertical">
        	<thead>
        	<tr>
                <th>Fname</th>
        		<th>Lname</th>
                <th>Phone</th>
                <th>Email</th>
        		<th>Hotel name</th>
        		<th>Entry date</th>
        		<th>Action</th>        
        	</tr>
        	</thead>
        	<tbody>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
                <td data-th="Address">B.maurice</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
                <td data-th="Address">B.maurice</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
                <td data-th="Address">B.maurice</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
                <td data-th="Address">B.maurice</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
                <td data-th="Address">B.maurice</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	<tr>
        		<td data-th="Fname">Donat</td>
        		<td data-th="Lname">Murego</td>
        		<td data-th="Phone">+250789627506</td>
        		<td data-th="Email">mdonat2020@gmail.com</td>
                <td data-th="Address">B.maurice</td>
        		<td data-th="Date">20-05-2020</td>
        		<td data-th="Action"><button type="button" class="btn btn-danger btn-sm">Edit</button></td>
        	
        	</tr>
        	</tbody>
        </table>
            </div>
            <div class="card-footer p-0">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mt-3 mr-3">
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <span class="page-link bg-dark">2<span class="sr-only">(current)</span>
                            </span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
                        <!-- end of pagination -->
        <!-- </div>


                </div> -->
            </div>
        </div>
    </div>
</section>
  
</div>
</template>

<script>
import Hotelownersiderbal from './Hotelownersiderbal'
  export default {
        components:{
    Hotelownersiderbal
    // Footer
  },
  }
</script>

<style scoped>
.btn-danger{
   background-color: #ff6000!important;   
}
.page-item{
    color: #ff6000!important;
     /* background-color: #ff6000!important;  */
}
.page-link{
    color:  #ff6000!important;
}
.page-item.active.page-link{
    background-color:black;
    border-color:#ff6000!important;
    box-shadow: none;
}
.tab
/* .bg-light{
  background-color: #ff6000!important;
} */
.btn-danger{
   background-color: #ff6000!important;   
}

/* table */
/* 
Generic Styling, for Desktops/Laptops 
*/
.table-vertical { 
  width: 100%; 
  height:auto;
  border-collapse: collapse; 
}
/* Zebra striping */
.table-vertical>tbody>tr:nth-of-type(odd) { 
  background: #f9f9f9;
}
.table-vertical>thead>tr>th { 
  background: #fff; 
  color: #000; 
  font-weight: bold; 
}
.table-vertical>tbody>tr>td, .table-vertical>thead>tr>th { 
  padding: 6px; 
  border-top: 1px solid #ddd; 
  text-align: left; 
  vertical-align: middle;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-vertical thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.table-vertical>thead>tr,  .table-vertical>tbody>tr{ border: 1px solid #ccc; }
	
	 
	.table-vertical>thead>tr>td,  .table-vertical>tbody>tr>td{ 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.table-vertical>tbody>tr>td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.table-vertical>tbody>tr>td:before { content: attr(data-th); }
}

/* table */

.list-unstyled{
    text-decoration: none!important;
    color: white!important;
}
.logo{
      color: #ff6000!important;
      font-weight: bolder;
}
.content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5fafc!important;
}
</style>