<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
 <!-- NAVIGATION AREA -->

    <!-- NAVIGATION AREA -->
    <router-view/>
  </div>
</template>

<script>
// import Heading from './components/Heading'
// import Footer from './components/Footer'
export default {
    components:{
    // Heading,
    // Footer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  font-size:14px;
}
</style>
